<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/7_Query_Optimization/1_Explain_Intro.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Explain & Optimization Intro

## Overview

### ü•Ö Analysis Goals

Analyze customer-level revenue, order behavior, and cohort classification to assess purchasing patterns and customer value.  

- **Plan Query Execution:** Use `EXPLAIN` to understand how PostgreSQL will execute the query, identifying potential inefficiencies like sequential scans or costly joins.  
- **Measure Actual Query Performance:** Use `EXPLAIN ANALYZE` to execute the query while collecting real performance metrics, comparing estimated vs. actual execution times for optimization.

Improve query efficiency and reduce costs by optimizing cohort revenue tracking and lifetime value (LTV) calculations.  
- **Optimize Sales Data Aggregation:** Summarizes customer purchases, calculates total revenue, and assigns cohort years while ensuring efficient joins with `customer`.

### üìò Concepts Covered

- `EXPLAIN`
- `EXPLAIN ANALYZE`

[Source Documentation for Using Explain](https://www.postgresql.org/docs/17/using-explain.html)

In [2]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

---
## EXPLAIN

### üìù¬†Notes

**`EXPLAIN`**  

- **EXPLAIN**: Displays the execution plan of a SQL query, showing how PostgreSQL will execute it.

- Syntax:  
  ```sql
  EXPLAIN 
  SELECT column 
  FROM table;
  ```
  
**`EXPLAIN ANALYZE`**: 
- **EXPLAIN ANALYZE**: Executes the query and provides actual execution times, row estimates, and other runtime details.
  ```sql
  EXPLAIN ANALYZE 
  SELECT column 
  FROM table;

  ```

- Helps with query optimization by showing:
  - Index usage
  - Join methods (`Nested Loop`, `Hash Join`, `Merge Join`)
  - Sequential vs. index scans
  - Estimated vs. actual row counts

- **Example Output** (simplified):
  ```
  Seq Scan on users  (cost=0.00..18.50 rows=850 width=64)
  ```
  - `Seq Scan`: PostgreSQL is doing a sequential scan (no index used).
  - `cost`: An arbitrary unit for cost (...basically made up units specific to PostgreSQL)
  - `rows`: Estimated number of rows.
  - `width`: Estimated row size in bytes.

- **Use Cases**:
  - Debugging slow queries
  - Checking if indexes are being used
  - Understanding query performance bottlenecks

### üîë Key Concepts
- **üìä Business Terms**: 
  - Query Performance: Speed of data retrieval
  - Execution Cost: Resources needed to run query
  - Data Processing: How database handles requests
- **üí° Why It Matters**: Optimizes complex customer revenue analysis
    - Reduces query execution time for large customer datasets
    - Lowers computational costs for frequent cohort analysis
    - Enables faster business decision making
    - Improves efficiency of revenue tracking systems

### üìà Analysis

- Understand how PostgreSQL plans to execute the query without running it, helping identify potential inefficiencies like sequential scans or costly joins.
- Execute the query while collecting actual performance metrics, allowing comparison between estimated and real execution times to optimize query performance.

> **‚ö†Ô∏è Note**: For the queries below since we've already done them the explanation is explaining the results of the `EXPLAIN` plan.

#### Basic Execution Plan

**`EXPLAIN`**

1. Using the last query from `String Formatting` chapter, add `EXPLAIN` to the beginning of the query. 

    - Sequential Scan on `customer`: Reads all rows from `customer`, suggesting there's no index on `customerkey`.
    - Hash on `customer`: Prepares a hash table of 104,990 rows for efficient lookups in the join.
    - Sequential Scan on `sales`: No filtering is applied, causing PostgreSQL to scan 199,873 rows.
    - Hash Left Join: Joins the `customer` table (104,990 rows) with `sales` (199,873 rows) using a hash join, indicating `customerkey` is used as a join condition.
    - Sort Operation: Orders the grouped data by the same fields before performing further calculations.
    - Group Aggregate: Groups data by multiple fields (`customerkey`, `orderdate`, `countryfull`, `age`, `givenname`, `surname`) before performing aggregations.
    - Window Aggregation: A window function is applied to 199,873 rows, increasing the width of each row.
    - Subquery Scan on `cd`: The entire subquery result is scanned (199,873 rows), with an estimated cost between 35,601.24 and 50,591.71.

In [3]:
%%sql

EXPLAIN
WITH customer_revenue AS (
	SELECT
		s.customerkey,
		s.orderdate,
		SUM(s.quantity * s.netprice * s.exchangerate) AS total_net_revenue,
		COUNT(s.orderkey) AS num_orders,
		c.countryfull,
		c.age,
		c.givenname,
		c.surname
	FROM
		sales s
	LEFT JOIN customer c ON
		c.customerkey = s.customerkey
	GROUP BY
		s.customerkey,
		s.orderdate,
		c.countryfull,
		c.age,
		c.givenname,
		c.surname
)
SELECT
	customerkey,
	orderdate,
	total_net_revenue,
	num_orders,
	countryfull,
	age,
	CONCAT(TRIM(givenname), ' ', TRIM(surname)) AS cleaned_name,
	MIN(orderdate) OVER (PARTITION BY customerkey) AS first_purchase_date,
	EXTRACT(YEAR FROM MIN(orderdate) OVER (PARTITION BY customerkey)) AS cohort_year
FROM
	customer_revenue cr;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

                                          QUERY PLAN
0  WindowAgg  (cost=35656.13..48592.98 rows=19987...
1    ->  GroupAggregate  (cost=35601.24..43596.16...
2          Group Key: s.customerkey, s.orderdate,...
3          ->  Sort  (cost=35601.24..36100.92 row...
4                Sort Key: s.customerkey, s.order...
5                ->  Hash Left Join  (cost=5442.2...
6                      Hash Cond: (s.customerkey ...
7                      ->  Seq Scan on sales s  (...
8                      ->  Hash  (cost=4129.90..4...
9                            ->  Seq Scan on cust...

Below is the query output.

<img src="../Resources/query_results/7.1_explain_1.png" alt="Query Results 1" style="width: 70%; height: auto;">

2. Alternatively you can view the `EXPLAIN` using `dbeaver` by selecting `Explain Execution Plan`. For this you don't need the `EXPLAIN` keyword.

<img src="../Resources/query_results/7.1_explain_1.gif" alt="View Explain using dbeaver" style="width: 70%; height: auto;">

#### Full Execution Plan

**`EXPLAIN ANALYZE`**

1. Using `EXPLAIN ANALYZE` to the beginning of the query. 
    - Sequential Scan on customer (c): Full table scan reads all 104,990 customer records in 19.249 milliseconds - no index usage suggests potential for optimization.
    - Hash: Creates an in-memory hash table of customer data using 8105kB of memory with 131,072 buckets - efficient for subsequent join.
    - Sequential Scan on sales (s): Scans all 199,873 sales records in 5.348 milliseconds - another candidate for index optimization.
    - Hash Left Join: Matches sales to customers using the hash table, processing nearly 200K rows in 72.484 milliseconds - reasonable performance for the data volume.
    - Sort: External merge sort required 15MB disk space - indicates memory constraints for sorting large dataset.
    - GroupAggregate: Consolidates the sorted data into 83,099 final groups in 159.837 milliseconds - reduction shows significant data aggregation.
    - WindowAgg: Final window calculations complete in 189.804 milliseconds - most time-intensive operation in the query.
    - Query Performance Summary:
        - Fast planning (0.442ms) but lengthy execution (192.769ms)
        - Main bottlenecks: sorting, grouping, and window calculations

In [4]:
%%sql

EXPLAIN ANALYZE
WITH customer_revenue AS (
	SELECT
		s.customerkey,
		s.orderdate,
		SUM(s.quantity * s.netprice * s.exchangerate) AS total_net_revenue,
		COUNT(s.orderkey) AS num_orders,
		c.countryfull,
		c.age,
		c.givenname,
		c.surname
	FROM
		sales s
	LEFT JOIN customer c ON
		c.customerkey = s.customerkey
	GROUP BY
		s.customerkey,
		s.orderdate,
		c.countryfull,
		c.age,
		c.givenname,
		c.surname
)
SELECT
	customerkey,
	orderdate,
	total_net_revenue,
	num_orders,
	countryfull,
	age,
	CONCAT(TRIM(givenname), ' ', TRIM(surname)) AS cleaned_name,
	MIN(orderdate) OVER (PARTITION BY customerkey) AS first_purchase_date,
	EXTRACT(YEAR FROM MIN(orderdate) OVER (PARTITION BY customerkey)) AS cohort_year
FROM
	customer_revenue cr;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

14 rows affected.

                                           QUERY PLAN
0   WindowAgg  (cost=35656.13..48592.98 rows=19987...
1     ->  GroupAggregate  (cost=35601.24..43596.16...
2           Group Key: s.customerkey, s.orderdate,...
3           ->  Sort  (cost=35601.24..36100.92 row...
4                 Sort Key: s.customerkey, s.order...
5                 Sort Method: external merge  Dis...
6                 ->  Hash Left Join  (cost=5442.2...
7                       Hash Cond: (s.customerkey ...
8                       ->  Seq Scan on sales s  (...
9                       ->  Hash  (cost=4129.90..4...
10                            Buckets: 131072  Bat...
11                            ->  Seq Scan on cust...
12                            Planning Time: 0.369 ms
13                         Execution Time: 202.512 ms

Below is the query output.

<img src="../Resources/query_results/7.1_explain_analyze.png" alt="Explain analyze results" style="width: 80%; height: auto;">

In [5]:
%%sql

EXPLAIN ANALYZE
WITH customer_details AS (
    SELECT *
    FROM customer
),
sales_details AS (
    SELECT 
        s.*,
        p.*
    FROM sales s
    LEFT JOIN product p ON p.productkey = s.productkey
),
customer_sales AS (
    SELECT 
        cd.customerkey,
        cd.countryfull,
        cd.age,
        cd.givenname,
        cd.surname,
        sd.orderdate,
        sd.orderkey,
        sd.quantity,
        sd.netprice,
        sd.exchangerate
    FROM customer_details cd
    LEFT JOIN sales_details sd ON cd.customerkey = sd.customerkey
),
aggregated_sales AS (
    SELECT 
        cs.customerkey,
        COUNT(DISTINCT cs.orderkey) as total_orders,
        SUM(cs.quantity) as total_items,
        SUM(cs.quantity * cs.netprice * cs.exchangerate) as total_revenue
    FROM customer_sales cs
    GROUP BY cs.customerkey
)
SELECT 
    cs.*,
    ag.total_orders,
    ag.total_items,
    ag.total_revenue,
    MIN(cs.orderdate) OVER (PARTITION BY cs.customerkey) as first_purchase_date,
    EXTRACT(YEAR FROM MIN(cs.orderdate) OVER (PARTITION BY cs.customerkey)) as cohort_year
FROM customer_sales cs
LEFT JOIN aggregated_sales ag ON cs.customerkey = ag.customerkey
ORDER BY cs.customerkey, cs.orderdate;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

26 rows affected.

                                           QUERY PLAN
0   Incremental Sort  (cost=147276.28..171260.96 r...
1              Sort Key: cs.customerkey, cs.orderdate
2                       Presorted Key: cs.customerkey
3     Full-sort Groups: 7488  Sort Method: quickso...
4                                  CTE customer_sales
5       ->  Hash Right Join  (cost=5442.27..10485....
6             Hash Cond: (s.customerkey = customer...
7             ->  Seq Scan on sales s  (cost=0.00....
8             ->  Hash  (cost=4129.90..4129.90 row...
9                   Buckets: 131072  Batches: 1  M...
10                  ->  Seq Scan on customer  (cos...
11    ->  WindowAgg  (cost=136790.51..151780.98 ro...
12          ->  Merge Left Join  (cost=136790.51.....
13                Merge Cond: (cs.customerkey = cs...
14                ->  Sort  (cost=110411.00..11091...
15                           Sort Key: cs.customerkey
16                      Sort Method: external merg...
17                      ->  CTE Scan on customer_s...
18                ->  GroupAggregate  (cost=26379....
19                        Group Key: cs_1.customerkey
20                      ->  Sort  (cost=26379.50.....
21                            Sort Key: cs_1.custo...
22                            Sort Method: externa...
23                            ->  CTE Scan on cust...
24                            Planning Time: 0.266 ms
25                         Execution Time: 392.031 ms

In [6]:
%%sql

EXPLAIN ANALYZE
WITH customer_metrics AS (
    SELECT 
        s.customerkey,
        s.orderdate,
        s.orderkey,
        s.quantity,
        s.netprice,
        s.exchangerate,
        c.countryfull,
        c.age,
        c.givenname,
        c.surname,
        COUNT(*) OVER (PARTITION BY s.customerkey) as total_orders,
        SUM(s.quantity) OVER (PARTITION BY s.customerkey) as total_items,
        SUM(s.quantity * s.netprice * s.exchangerate) OVER (PARTITION BY s.customerkey) as total_revenue,
        MIN(s.orderdate) OVER (PARTITION BY s.customerkey) as first_purchase_date
    FROM sales s
    LEFT JOIN customer c ON c.customerkey = s.customerkey
)
SELECT 
    customerkey,
    orderdate,
    orderkey,
    quantity,
    netprice,
    exchangerate,
    countryfull,
    age,
    givenname,
    surname,
    total_orders,
    total_items,
    total_revenue,
    first_purchase_date,
    EXTRACT(YEAR FROM first_purchase_date) as cohort_year
FROM customer_metrics
ORDER BY customerkey, orderdate;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

17 rows affected.

                                           QUERY PLAN
0   Incremental Sort  (cost=35601.62..48259.59 row...
1     Sort Key: customer_metrics.customerkey, cust...
2         Presorted Key: customer_metrics.customerkey
3     Full-sort Groups: 5772  Sort Method: quickso...
4     ->  Subquery Scan on customer_metrics  (cost...
5           ->  WindowAgg  (cost=35601.37..42097.1...
6                 ->  Sort  (cost=35601.24..36100....
7                             Sort Key: s.customerkey
8                       Sort Method: external merg...
9                       ->  Hash Left Join  (cost=...
10                            Hash Cond: (s.custom...
11                            ->  Seq Scan on sale...
12                            ->  Hash  (cost=4129...
13                                  Buckets: 13107...
14                                  ->  Seq Scan o...
15                            Planning Time: 0.122 ms
16                         Execution Time: 181.096 ms

---

## Optimization Techniques

#### üî∞ Beginner (Fundamental Optimizations)
- üö´ Avoid `SELECT *`: Retrieve only necessary columns.
- üìâ Use `LIMIT` for Large Datasets: Improve performance on large queries.
- üõ† Use `WHERE` Instead of `HAVING`: Filter before aggregation for efficiency.

#### ‚ö° Intermediate (Query Structure & Execution Plan Optimizations)
- üìñ Use Query Execution Plans: Identify slow queries and optimize execution paths.
- üìå Minimize `GROUP BY` Usage: Avoid unnecessary aggregations.
- üîó Reduce Joins When Possible: Optimize relationships to prevent expensive joins.
- üìä Optimize `ORDER BY`: Use indexed columns for sorting.

#### üöÄ Advanced (Database-Level Optimizations)
- üß† Use Proper Data Types: Ensure numeric vs. string-based filtering is efficient.
- ‚ö° Use Proper Indexing: Speed up queries with strategic indexes.
- üóÉ Use Partitioning for Large Tables: Improve performance on large datasets.

> NOTE: We'll cover intermediate techniques in the next lesson

---

## üî∞ Beginner Techniques

### üìâ Use `LIMIT` for Large Datasets
- Improve performance on large queries.

In [142]:
%%sql

EXPLAIN ANALYZE
SELECT
    customerkey,
    orderdate,
    orderkey,
    linenumber
FROM sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

3 rows affected.

                                          QUERY PLAN
0  Seq Scan on sales  (cost=0.00..4518.73 rows=19...
1                            Planning Time: 0.069 ms
2                          Execution Time: 27.774 ms

In [143]:
%%sql

EXPLAIN ANALYZE
SELECT
    customerkey,
    orderdate,
    orderkey,
    linenumber
FROM sales
LIMIT 10

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

4 rows affected.

                                          QUERY PLAN
0  Limit  (cost=0.00..0.23 rows=10 width=16) (act...
1    ->  Seq Scan on sales  (cost=0.00..4518.73 r...
2                            Planning Time: 0.061 ms
3                           Execution Time: 0.033 ms

#### üö´ Avoid `SELECT *`
- Retrieve only the necessary columns for a query.
- Note some databases may be more efficient at retrieving  this negating gains

In [144]:
%%sql

EXPLAIN ANALYZE
SELECT *
FROM sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

3 rows affected.

                                          QUERY PLAN
0  Seq Scan on sales  (cost=0.00..4518.73 rows=19...
1                            Planning Time: 0.038 ms
2                          Execution Time: 14.966 ms

In [146]:
%%sql

EXPLAIN ANALYZE
SELECT
    customerkey,
    orderdate,
    orderkey,
    linenumber
FROM sales

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

3 rows affected.

                                          QUERY PLAN
0  Seq Scan on sales  (cost=0.00..4518.73 rows=19...
1                            Planning Time: 0.053 ms
2                          Execution Time: 34.564 ms

> #### Why is this query slower?
> PostgreSQL Uses a More Efficient Query Plan for `SELECT *`
> - If all columns are needed frequently, PostgreSQL might use a more optimized data retrieval strategy for `SELECT *`, such as a sequential scan (if no indexes are used).
> - If only some columns are selected, PostgreSQL might use an index scan or another method that requires additional lookups.

### üõ† Use `WHERE` Instead of `HAVING`
- Filter before aggregation for efficiency.

In [242]:
%%sql

EXPLAIN ANALYZE
SELECT
    customerkey,
    orderdate,
    SUM(quantity * netprice * exchangerate) AS net_revenue
FROM sales
WHERE customerkey < 1000
GROUP BY
    customerkey,
    orderdate

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

16 rows affected.

                                           QUERY PLAN
0   Finalize GroupAggregate  (cost=4990.18..4993.9...
1                   Group Key: customerkey, orderdate
2     ->  Gather Merge  (cost=4990.18..4993.40 row...
3                                  Workers Planned: 1
4                                 Workers Launched: 1
5           ->  Partial GroupAggregate  (cost=3990...
6                   Group Key: customerkey, orderdate
7                 ->  Sort  (cost=3990.17..3990.23...
8                       Sort Key: customerkey, ord...
9                       Sort Method: quicksort  Me...
10                      Worker 0:  Sort Method: qu...
11                      ->  Parallel Seq Scan on s...
12                            Filter: (customerkey...
13                            Rows Removed by Filt...
14                            Planning Time: 0.102 ms
15                          Execution Time: 19.763 ms

In [250]:
%%sql

EXPLAIN ANALYZE
SELECT
    customerkey,
    orderdate,
    SUM(quantity * netprice * exchangerate) AS net_revenue
FROM sales
GROUP BY
    customerkey,
    orderdate
HAVING customerkey < 1000

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

16 rows affected.

                                           QUERY PLAN
0   Finalize GroupAggregate  (cost=4990.18..4993.9...
1                   Group Key: customerkey, orderdate
2     ->  Gather Merge  (cost=4990.18..4993.40 row...
3                                  Workers Planned: 1
4                                 Workers Launched: 1
5           ->  Partial GroupAggregate  (cost=3990...
6                   Group Key: customerkey, orderdate
7                 ->  Sort  (cost=3990.17..3990.23...
8                       Sort Key: customerkey, ord...
9                       Sort Method: quicksort  Me...
10                      Worker 0:  Sort Method: qu...
11                      ->  Parallel Seq Scan on s...
12                            Filter: (customerkey...
13                            Rows Removed by Filt...
14                            Planning Time: 0.087 ms
15                          Execution Time: 22.519 ms