<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/3_Windows_Functions/4_Lag_Lead.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Lag / Lead

### ü•Ö Analysis Goals

- What we‚Äôre going to use for this dataset to do X e.g. Use the following in order to explore a dataset on experience and salaries
    - Major topic 1
    - Major topic 2
    - Major topic 3
- The end goal of this is e.g. Identify which jobs meet our expectations of years experience and total salary.

### üìò Concepts Covered

General concepts we‚Äôre going to cover

- Concept 1
- Concept 2
- Concept 3

---

In [ ]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the ipython-sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

---
## LAG

### üìù¬†Notes

- `LAG()`: Retrieves data from a previous row in the same result set.

### üíª¬†Final Result

- Describe what the final result should be e.g. return the retention by X cohort.

#### Problem Description

**`FUNCTION` / Concept Covered**

1. Go into specific step / what we‚Äôre going to do. E.g. Use the `=` operator to set a new column to be equal to Experience

## LEAD

### üìù¬†Notes

- `LEAD()`: Retrieves data from the following row in the same result set.

### üíª¬†Final Result

- Describe what the final result should be e.g. return the retention by X cohort.

#### Problem Description

**`FUNCTION` / Concept Covered**

1. Go into specific step / what we‚Äôre going to do. E.g. Use the `=` operator to set a new column to be equal to Experience

Scenario 1: Use LAG() to calculate month-over-month revenue change.

In [ ]:
%%sql

SELECT
    DATE_TRUNC('month', s.OrderDate) AS sales_month,
    SUM(s.SalesAmount) AS total_revenue,
    LAG(SUM(s.SalesAmount)) OVER (ORDER BY DATE_TRUNC('month', s.OrderDate)) AS previous_month_revenue,
    SUM(s.SalesAmount) - LAG(SUM(s.SalesAmount)) OVER (ORDER BY DATE_TRUNC('month', s.OrderDate)) AS revenue_change
FROM
    Sales s
GROUP BY
    DATE_TRUNC('month', s.OrderDate)
ORDER BY
    sales_month;

Scenario 2: Use LEAD() to predict next month‚Äôs revenue.

In [ ]:
%%sql

SELECT
    DATE_TRUNC('month', s.OrderDate) AS sales_month,
    SUM(s.SalesAmount) AS total_revenue,
    LEAD(SUM(s.SalesAmount)) OVER (ORDER BY DATE_TRUNC('month', s.OrderDate)) AS next_month_revenue
FROM
    Sales s
GROUP BY
    DATE_TRUNC('month', s.OrderDate)
ORDER BY
    sales_month;

Scenario 3: Use FIRST_VALUE() to find the first recorded sale for each product category.

In [ ]:
%%sql

SELECT
    pc.ProductCategoryName AS category,
    p.ProductName AS product,
    FIRST_VALUE(s.OrderDate) OVER (PARTITION BY pc.ProductCategoryName ORDER BY s.OrderDate) AS first_sale_date
FROM
    Sales s
JOIN
    Products p ON s.ProductKey = p.ProductKey
JOIN
    ProductCategories pc ON p.ProductCategoryKey = pc.ProductCategoryKey
ORDER BY
    category, first_sale_date;