<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/3_Windows_Functions/5_Frame_Clause.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Frame Clause

## Overview

### ü•Ö Analysis Goals

- What we‚Äôre going to use for this dataset to do X e.g. Use the following in order to explore a dataset on experience and salaries
    - Major topic 1
    - Major topic 2
    - Major topic 3
- The end goal of this is e.g. Identify which jobs meet our expectations of years experience and total salary.

### üìò Concepts Covered

General concepts we‚Äôre going to cover

- `N PRECEDING`¬†
- `N FOLLOWING`¬†
- `UNBOUNDED PRECEDING`¬†
- `UNBOUNDED FOLLOWING`¬†
- `CURRENT ROW`

## PRECEEDING / FOLLOWING

### üìù¬†Notes

- `N PRECEDING`: Refers to a range that includes the current row and the N rows before it.
    - `SUM(column) OVER (ORDER BY order_expression ROWS 3 PRECEDING)`
- `N FOLLOWING`: Refers to a range that includes the current row and the N rows after it.
    - `SUM(column) OVER (ORDER BY order_expression ROWS 3 FOLLOWING)`

```sql
SELECT 
    column,
    SUM(column) OVER (ORDER BY order_expression ROWS 3 PRECEDING) AS sum_3_preceding,
    SUM(column) OVER (ORDER BY order_expression ROWS 3 FOLLOWING) AS sum_3_following
FROM table_name
```

### üíª¬†Final Result

- Describe what the final result should be e.g. return the retention by X cohort.

#### Problem Description

**`FUNCTION` / Concept Covered**

1. Go into specific step / what we‚Äôre going to do. E.g. Use the `=` operator to set a new column to be equal to Experience

## UNBOUND

### üìù¬†Notes

- `UNBOUNDED PRECEDING`: Starts from the very first row of the partition up to the current row.
    - `SUM(column) OVER (ORDER BY order_expression ROWS UNBOUNDED PRECEDING)`
- `UNBOUNDED FOLLOWING`: Includes the current row and extends to the last row of the partition.
    - `SUM(column) OVER (ORDER BY order_expression ROWS UNBOUNDED FOLLOWING)`

```sql
SELECT 
    column,
    SUM(column) OVER (ORDER BY order_expression ROWS UNBOUNDED PRECEDING) AS sum_unbounded_preceding,
    SUM(column) OVER (ORDER BY order_expression ROWS UNBOUNDED FOLLOWING) AS sum_unbounded_following
FROM table_name
```


### üíª¬†Final Result

- Describe what the final result should be e.g. return the retention by X cohort.

#### Problem Description

**`FUNCTION` / Concept Covered**

1. Go into specific step / what we‚Äôre going to do. E.g. Use the `=` operator to set a new column to be equal to Experience

## CURRENT ROW

### üìù¬†Notes

- `CURRENT ROW`: Represents only the current row in the calculation.
    - `SUM(column) OVER (ORDER BY order_expression ROWS CURRENT ROW)`


```sql
SELECT 
    column,
    SUM(column) OVER (ORDER BY order_expression ROWS CURRENT ROW) AS sum_current_row,
    SUM(column) OVER (ORDER BY order_expression ROWS 3 PRECEDING) AS sum_3_preceding,
    SUM(column) OVER (ORDER BY order_expression ROWS UNBOUNDED PRECEDING) AS sum_unbounded_preceding
FROM table_name

```

### üíª¬†Final Result

- Describe what the final result should be e.g. return the retention by X cohort.

#### Problem Description

**`FUNCTION` / Concept Covered**

1. Go into specific step / what we‚Äôre going to do. E.g. Use the `=` operator to set a new column to be equal to Experience

Scenario 1: Calculate a 3-month moving average revenue using N PRECEDING.

In [ ]:
%%sql

SELECT
    DATE_TRUNC('month', s.OrderDate) AS sales_month,
    SUM(s.SalesAmount) AS total_revenue,
    AVG(SUM(s.SalesAmount)) OVER (
        ORDER BY DATE_TRUNC('month', s.OrderDate)
        ROWS 2 PRECEDING
    ) AS three_month_moving_avg
FROM
    Sales s
GROUP BY
    DATE_TRUNC('month', s.OrderDate)
ORDER BY
    sales_month;

Scenario 2: Calculate a rolling total for the current month and the next 2 months using N FOLLOWING.

In [ ]:
SELECT
    DATE_TRUNC('month', s.OrderDate) AS sales_month,
    SUM(s.SalesAmount) AS total_revenue,
    SUM(SUM(s.SalesAmount)) OVER (
        ORDER BY DATE_TRUNC('month', s.OrderDate)
        ROWS BETWEEN CURRENT ROW AND 2 FOLLOWING
    ) AS three_month_rolling_total
FROM
    Sales s
GROUP BY
    DATE_TRUNC('month', s.OrderDate)
ORDER BY
    sales_month;

Scenario 3: Calculate cumulative revenue using UNBOUNDED PRECEDING.

In [ ]:
SELECT
    DATE_TRUNC('month', s.OrderDate) AS sales_month,
    SUM(s.SalesAmount) AS total_revenue,
    SUM(SUM(s.SalesAmount)) OVER (
        ORDER BY DATE_TRUNC('month', s.OrderDate)
        ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
    ) AS cumulative_revenue
FROM
    Sales s
GROUP BY
    DATE_TRUNC('month', s.OrderDate)
ORDER BY
    sales_month;

Scenario 4: Calculate total revenue after each month using UNBOUNDED FOLLOWING.

In [ ]:
SELECT
    DATE_TRUNC('month', s.OrderDate) AS sales_month,
    SUM(s.SalesAmount) AS total_revenue,
    SUM(SUM(s.SalesAmount)) OVER (
        ORDER BY DATE_TRUNC('month', s.OrderDate)
        ROWS BETWEEN CURRENT ROW AND UNBOUNDED FOLLOWING
    ) AS revenue_after_month
FROM
    Sales s
GROUP BY
    DATE_TRUNC('month', s.OrderDate)
ORDER BY
    sales_month;

Scenario 5: Compare revenue in the CURRENT ROW with a rolling average.

In [ ]:
SELECT
    DATE_TRUNC('month', s.OrderDate) AS sales_month,
    SUM(s.SalesAmount) AS total_revenue,
    AVG(SUM(s.SalesAmount)) OVER (
        ORDER BY DATE_TRUNC('month', s.OrderDate)
        ROWS CURRENT ROW
    ) AS current_row_avg_revenue
FROM
    Sales s
GROUP BY
    DATE_TRUNC('month', s.OrderDate)
ORDER BY
    sales_month;