# Windows Functions Syntax

## Overview

**Marketing Analysis Focused**

Note to Luke: The note above is just an internal note for me and won't be in the final version.

### ü•Ö Analysis Goals

- Identify high-revenue states and segment younger customers for targeted campaigns.
    - Calculate the average age by state to allow comparisons of individual ages to their regional peers.
    - Calculate the total revenue by state to identify regions with high revenue potential.
- Focus on segments of younger customers in high-revenue states for ad campaigns, targeting demographics that may respond better to age-appropriate marketing.

### üìò Concepts Covered

- Basic syntax: `OVER()`, `PARTITION BY`
- Aggregation: `SUM()`, `AVG()`, `COUNT()`

In [1]:
import sys
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the ipython-sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

---
## Aggregation

### üìù¬†Notes

- Let's you perform calculations across a set of table rows related to the current row.
- Unlike aggregate functions, they do not group the results into a single output row.
- Easily partition and order data within the query, great for calculating things like running totals, ranks or averages within partitions (more on this later).

#### Syntax
- `OVER()`: Defines the window for the function. It can include `PARTITION BY` and other functions.
- `PARTITION BY`: Divides the result set into partitions. The function is then applied to each partition.

```sql
  SELECT
    window_function() OVER(
         PARTITION BY partition_expression
         ORDER BY order_expression
         window_frame_extent
    ) AS window_column_alias
    FROM table_name
```

#### Aggregation
- `SUM()`: Sums up all of the values 
- `AVG()`: Calculates the average of the values
- `COUNT()`: Counts the values, `DISTINCT` can be added to get the unique count.

### üíª¬†Final Result

**Note: Still need screenshot of the final result**.

#### Average Age by State

**`AVG()`, `OVER`, `PARTITION BY`**

1. Using a windows function return the average age by the state for only customers who are in the 'North America' continent.
    1. Return the following columns:
        1. `customerkey`
        2. `state`
        3. `age`
    2. In the windows function use `AVG` for the `age` and `PARTITION BY` the state. 
    3. Filter for only records in 'North America'.

In [10]:
%%sql 

SELECT  
	state,
	AVG(age) OVER(PARTITION BY state) AS avg_age_state
FROM customer
WHERE
	continent = 'North America'

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

55294 rows affected.

+-------+---------------------+
| state |    avg_age_state    |
+-------+---------------------+
|   AB  | 51.5885521885521886 |
|   AB  | 51.5885521885521886 |
|   AB  | 51.5885521885521886 |
|   AB  | 51.5885521885521886 |
|   AB  | 51.5885521885521886 |
|   AB  | 51.5885521885521886 |
|   AB  | 51.5885521885521886 |
|   AB  | 51.5885521885521886 |
|   AB  | 51.5885521885521886 |
|   AB  | 51.5885521885521886 |
+-------+---------------------+
Truncated to displaylimit of 10.

In [3]:
%%sql 

SELECT 
	customerkey, 
	state,
	age,
	AVG(age) OVER(PARTITION BY state) AS avg_age_state
FROM customer
WHERE
	continent = 'North America'

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

55294 rows affected.

+-------------+-------+-----+---------------------+
| customerkey | state | age |    avg_age_state    |
+-------------+-------+-----+---------------------+
|    225614   |   AB  |  25 | 51.5885521885521886 |
|    340528   |   AB  |  27 | 51.5885521885521886 |
|    303721   |   AB  |  73 | 51.5885521885521886 |
|    303757   |   AB  |  23 | 51.5885521885521886 |
|    340138   |   AB  |  46 | 51.5885521885521886 |
|    304019   |   AB  |  50 | 51.5885521885521886 |
|    304083   |   AB  |  21 | 51.5885521885521886 |
|    213648   |   AB  |  41 | 51.5885521885521886 |
|    339805   |   AB  |  73 | 51.5885521885521886 |
|    213658   |   AB  |  60 | 51.5885521885521886 |
+-------------+-------+-----+---------------------+
Truncated to displaylimit of 10.

#### Total Revenue by State

**`COUNT()`, `OVER`, `PARTITION BY`**

1. Add in another column with a window function that calculates the total number of customers by state.
    1. Using `SUM()` for the `customerkey`.
    2. `PARTITION BY` the state.
    3. Name this column as `total_customers_state`.

In [4]:
%%sql

SELECT 
    customerkey, 
    state, 
    age,
    AVG(age) OVER(PARTITION BY state) AS avg_age_state,
    COUNT(customerkey) OVER(PARTITION BY state) AS total_customers_state
FROM customer
WHERE   
    continent = 'North America'

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

55294 rows affected.

+-------------+-------+-----+---------------------+-----------------------+
| customerkey | state | age |    avg_age_state    | total_customers_state |
+-------------+-------+-----+---------------------+-----------------------+
|    225614   |   AB  |  25 | 51.5885521885521886 |          1485         |
|    340528   |   AB  |  27 | 51.5885521885521886 |          1485         |
|    303721   |   AB  |  73 | 51.5885521885521886 |          1485         |
|    303757   |   AB  |  23 | 51.5885521885521886 |          1485         |
|    340138   |   AB  |  46 | 51.5885521885521886 |          1485         |
|    304019   |   AB  |  50 | 51.5885521885521886 |          1485         |
|    304083   |   AB  |  21 | 51.5885521885521886 |          1485         |
|    213648   |   AB  |  41 | 51.5885521885521886 |          1485         |
|    339805   |   AB  |  73 | 51.5885521885521886 |          1485         |
|    213658   |   AB  |  60 | 51.5885521885521886 |          1485         |
+-------------+-------+-----+---------------------+-----------------------+
Truncated to displaylimit of 10.

2. Add filters to get only states with a large customer base and customers who are under the average age for their state. 
    1. Put the query into a CTE (`customer_data`) which lets us use these calculated values in the main query to filter. The in the main query filter out specific customers.
    2. In the `WHERE` clause, include `age < avg_age_state` to select customers younger than their state‚Äôs average.
    3. Add an additional condition with `AND` to ensure that `total_customers_state` is over 1000, focusing on states with a large customer base.

In [5]:
%%sql

WITH customer_data AS (
    SELECT 
        customerkey, 
        state, 
        age, 
        AVG(age) OVER(PARTITION BY state) AS avg_age_state,
        COUNT(customerkey) OVER(PARTITION BY state) AS total_customers_state,
        continent
    FROM customer
    WHERE   
        continent = 'North America'
)

SELECT 
    customerkey, 
    state, 
    age, 
    avg_age_state,
    total_customers_state
FROM customer_data
WHERE 
    age < avg_age_state
    AND total_customers_state > 1000; -- Example threshold for high-customer-count states

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

18150 rows affected.

+-------------+-------+-----+---------------------+-----------------------+
| customerkey | state | age |    avg_age_state    | total_customers_state |
+-------------+-------+-----+---------------------+-----------------------+
|    225614   |   AB  |  25 | 51.5885521885521886 |          1485         |
|    340528   |   AB  |  27 | 51.5885521885521886 |          1485         |
|    303757   |   AB  |  23 | 51.5885521885521886 |          1485         |
|    340138   |   AB  |  46 | 51.5885521885521886 |          1485         |
|    304019   |   AB  |  50 | 51.5885521885521886 |          1485         |
|    304083   |   AB  |  21 | 51.5885521885521886 |          1485         |
|    213648   |   AB  |  41 | 51.5885521885521886 |          1485         |
|    339470   |   AB  |  35 | 51.5885521885521886 |          1485         |
|    339201   |   AB  |  30 | 51.5885521885521886 |          1485         |
|    304489   |   AB  |  19 | 51.5885521885521886 |          1485         |
+-------------+-------+-----+---------------------+-----------------------+
Truncated to displaylimit of 10.

### üí° Why not use GROUP BY instead? 

- Window functions are good when you need both row-level information and aggregated values.
- **Limitation of `GROUP BY`:** Grouping by state can tell you the average age and customer count per state, but it aggregates at the state level, so you lose individual customer details. This makes it impossible to identify specific customers who are younger than the state average for targeted campaigns.

In [6]:
%%sql

SELECT 
    state,
    AVG(age) AS avg_age_state,
    COUNT(customerkey) AS total_customers_state
FROM customer
WHERE 
    continent = 'North America'
GROUP BY 
    state
HAVING
    AVG(age) < 55
    AND COUNT(customerkey) > 1000;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

17 rows affected.

+-------+---------------------+-----------------------+
| state |    avg_age_state    | total_customers_state |
+-------+---------------------+-----------------------+
|   QC  | 51.5818624467437614 |          1643         |
|   MI  | 51.8337091319052988 |          1774         |
|   ON  | 52.1327268486120830 |          4287         |
|   VA  | 52.4840525328330206 |          1066         |
|   GA  | 51.9114541023558083 |          1231         |
|   PA  | 51.9613287059990084 |          2017         |
|   IL  | 52.1349095966620306 |          2157         |
|   AB  | 51.5885521885521886 |          1485         |
|   NJ  | 52.0548459804658152 |          1331         |
|   CA  | 51.4230122002524190 |          4754         |
+-------+---------------------+-----------------------+
Truncated to displaylimit of 10.

### üìä Example for targeted marketing:

- Segment customers based on characteristics relative to their regional peers.
- For an ad campaign targeting younger customers in states with a high number of customers:
    - Use window functions to calculate each customer‚Äôs age difference from the state average and the total number of customers in each state.
    - This allows you to keep individual ages while also accessing the state‚Äôs average age and total customer count for refined segmentation.
- Focus on customers who are younger than their state‚Äôs average in high-customer-count areas, creating more targeted and impactful ads.

**Note:** This query shows real-life applications of window functions for practical marketing analysis.

In [7]:
%%sql

SELECT 
    customerkey, 
    state, 
    age, 
    ROUND(avg_age_state, 1) AS avg_age_state,
    ROUND(age_diff, 0) AS age_diff,
    total_customers_state
FROM 
    -- Calculate avg_age by state, age difference, and total customers by state
    (
        SELECT 
            customerkey, 
            state, 
            age, 
            AVG(age) OVER(PARTITION BY state) AS avg_age_state,
            age - AVG(age) OVER(PARTITION BY state) AS age_diff,
            COUNT(customerkey) OVER(PARTITION BY state) AS total_customers_state
        FROM customer
    ) AS subquery
WHERE age_diff < -5 -- Younger than average by at least 5 years
AND total_customers_state > 1000; -- Example threshold for high customer count states

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

23283 rows affected.

+-------------+-------+-----+---------------+----------+-----------------------+
| customerkey | state | age | avg_age_state | age_diff | total_customers_state |
+-------------+-------+-----+---------------+----------+-----------------------+
|    362016   |   AB  |  25 |      51.6     |   -27    |          1485         |
|    362036   |   AB  |  20 |      51.6     |   -32    |          1485         |
|    362081   |   AB  |  30 |      51.6     |   -22    |          1485         |
|    362630   |   AB  |  40 |      51.6     |   -12    |          1485         |
|    362641   |   AB  |  20 |      51.6     |   -32    |          1485         |
|    363113   |   AB  |  19 |      51.6     |   -33    |          1485         |
|    363240   |   AB  |  33 |      51.6     |   -19    |          1485         |
|    363556   |   AB  |  41 |      51.6     |   -11    |          1485         |
|    363697   |   AB  |  23 |      51.6     |   -29    |          1485         |
|    363753   |   AB  |  23 |      51.6     |   -29    |          1485         |
+-------------+-------+-----+---------------+----------+-----------------------+
Truncated to displaylimit of 10.