# Running Totals

## Overview

**Product Analysis Focused**

### ü•Ö Analysis Goals

- What we‚Äôre going to use for this dataset to do X e.g. Use the following in order to explore a dataset on experience and salaries
    - Major topic 1
    - Major topic 2
    - Major topic 3
- The end goal of this is e.g. Identify which jobs meet our expectations of years experience and total salary.

### üìò Concepts Covered

General concepts we‚Äôre going to cover

- Concept 1
- Concept 2
- Concept 3

## Order by & Row Number

### üìù¬†Notes

- Gives a rank to each row.

## Syntax

- `SUM() OVER(ORDER BY column)`
- Using partition:  `SUM() OVER(PARTITION BY column ORDER BY column)`

### üíª¬†Final Result

- Describe what the final result should be e.g. return the retention by X cohort.

#### Problem Description

**`FUNCTION` / Concept Covered**

1. Go into specific step / what we‚Äôre going to do. E.g. Use the `=` operator to set a new column to be equal to Experience

In [1]:
import sys
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the ipython-sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

In [2]:
%%sql

SELECT 
    pd.productname AS product_name,
    EXTRACT(MONTH FROM sl.orderdate) AS month,
    SUM(sl.quantity * sl.unitprice) AS total_sales
FROM 
    sales sl
LEFT JOIN 
    product pd ON sl.productkey = pd.productkey
GROUP BY 
    pd.productname, month
ORDER BY 
    month, total_sales DESC;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

27189 rows affected.

+---------------------------------------------+-------+-------------+
|                 product_name                | month | total_sales |
+---------------------------------------------+-------+-------------+
|      Contoso Projector 1080p X981 White     |   1   |   254898.0  |
|  Adventure Works Desktop PC2.33 XD233 Black |   1   |   209304.0  |
|        WWI Desktop PC2.33 X2330 Brown       |   1   |   193909.0  |
|       WWI Desktop PC2.33 X2330 Silver       |   1   |   188395.0  |
|   Adventure Works 52" LCD HDTV X590 Black   |   1   | 186904.3555 |
|        WWI Desktop PC2.33 X2330 White       |   1   |   167717.5  |
|        WWI Desktop PC2.33 X2330 Black       |   1   |   167258.0  |
| Adventure Works Desktop PC2.33 XD233 Silver |   1   |   165699.0  |
|  Adventure Works Desktop PC2.33 XD233 White |   1   |   151164.0  |
|  Adventure Works Desktop PC2.33 XD233 Brown |   1   |   146319.0  |
+---------------------------------------------+-------+-------------+
Truncated to displaylimit of 10.

In [5]:
%%sql

SELECT 
    pd.productname AS product_name,
    EXTRACT(MONTH FROM sl.orderdate) AS month,
    SUM(SUM(sl.quantity * sl.unitprice)) OVER (
        PARTITION BY EXTRACT(MONTH FROM sl.orderdate)
        ORDER BY pd.productname
    ) AS cumulative_sales
FROM sales sl
LEFT JOIN product pd ON sl.productkey = pd.productkey
GROUP BY product_name, month
ORDER BY 
    month, 
    pd.productname
;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

27189 rows affected.

+-----------------------------------------------+-------+--------------------+
|                  product_name                 | month |  cumulative_sales  |
+-----------------------------------------------+-------+--------------------+
|  A. Datum Advanced Digital Camera M300 Azure  |   1   |       4410.9       |
|  A. Datum Advanced Digital Camera M300 Black  |   1   | 6088.549999999999  |
|  A. Datum Advanced Digital Camera M300 Green  |   1   |      10819.9       |
|   A. Datum Advanced Digital Camera M300 Grey  |   1   |      11800.1       |
|  A. Datum Advanced Digital Camera M300 Orange |   1   |      12290.2       |
|   A. Datum Advanced Digital Camera M300 Pink  |   1   |      13798.2       |
|  A. Datum Advanced Digital Camera M300 Silver |   1   | 19434.350000000002 |
| A. Datum All in One Digital Camera M200 Azure |   1   | 21314.350000000002 |
| A. Datum All in One Digital Camera M200 Black |   1   | 22818.350000000002 |
| A. Datum All in One Digital Camera M200 Green |   1   | 25168.350000000002 |
+-----------------------------------------------+-------+--------------------+
Truncated to displaylimit of 10.