<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/6_Data_Cleaning/2_Strings.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# String Manipulation

## Overview

### ü•Ö Analysis Goals

- What we‚Äôre going to use for this dataset to do X e.g. Use the following in order to explore a dataset on experience and salaries
    - Major topic 1
    - Major topic 2
    - Major topic 3
- The end goal of this is e.g. Identify which jobs meet our expectations of years experience and total salary.

### üìò Concepts Covered

General concepts we‚Äôre going to cover

- Concept 1
- Concept 2
- Concept 3

---
## TRIM

### üìù¬†Notes

**`TRIM()`**

- **TRIM**: Removes leading and/or trailing spaces (or specified characters) from a string.  
- Syntax:  
  ```sql
  SELECT TRIM([BOTH | LEADING | TRAILING] 'characters' FROM string_column);
  ```
- Default behavior removes spaces from both ends of a string.  
- Useful for cleaning up user input, formatting text, or ensuring consistent comparisons.  

### üíª¬†Final Result

- Describe what the final result should be e.g. return the retention by X cohort.

#### Problem Description

**`FUNCTION` / Concept Covered**

1. Go into specific step / what we‚Äôre going to do. E.g. Use the `=` operator to set a new column to be equal to Experience

In [ ]:
SELECT
    customerkey,
    TRIM(c.givenname) AS trimmed_givenname,
    TRIM(c.surname) AS trimmed_surname,
    CONCAT(TRIM(c.givenname), ' ', TRIM(c.surname)) AS trimmed_full_name  
FROM customers;

In [ ]:
WITH sales_data AS (
        SELECT
            customerkey,
            EXTRACT(YEAR FROM MIN(orderdate)) AS cohort_year,
            SUM(quantity * netprice * exchangerate) AS net_revenue,
            COUNT(orderkey) AS num_orders
        FROM sales
        GROUP BY
            customerkey
)

SELECT
    c.customerkey,
    s.cohort_year,
    CONCAT(TRIM(c.givenname), ' ', TRIM(c.surname)) AS cleaned_name, -- Added
    COALESCE(s.net_revenue, 0) AS net_revenue,
    COALESCE(s.num_orders, 0) AS total_orders,
    s.net_revenue / NULLIF(s.num_orders, 0) AS avg_order_value
FROM customer c
LEFT JOIN sales_data s ON c.customerkey = s.customerkey;

---
## REPLACE

### üìù¬†Notes

**`REPLACE()`**

- **REPLACE**: Replaces all occurrences of a substring within a string with another substring.

- Syntax:

  ```sql
  SELECT REPLACE(string_column, old_substring, new_substring);
  ```

- Useful for cleaning up text, standardizing formats, or removing unwanted characters.

### üíª¬†Final Result

- Describe what the final result should be e.g. return the retention by X cohort.

#### Problem Description

**`FUNCTION` / Concept Covered**

1. Go into specific step / what we‚Äôre going to do. E.g. Use the `=` operator to set a new column to be equal to Experience

In [ ]:
SELECT
    customerkey,
    REPLACE(country, 'USA', 'United States') AS standardized_country
FROM customers;

In [ ]:
WITH sales_data AS (
        SELECT
            customerkey,
            EXTRACT(YEAR FROM MIN(orderdate)) AS cohort_year,
            SUM(quantity * netprice * exchangerate) AS net_revenue,
            COUNT(orderkey) AS num_orders
        FROM sales
        GROUP BY
            customerkey
)

SELECT
    c.customerkey,
    s.cohort_year,
    CONCAT(LOWER(c.givenname), ' ', LOWER(c.surname)) AS cleaned_name, -- Added
    COALESCE(s.net_revenue, 0) AS net_revenue,
    COALESCE(s.num_orders, 0) AS total_orders,
    s.net_revenue / NULLIF(s.num_orders, 0) AS avg_order_value
FROM customer c
LEFT JOIN sales_data s ON c.customerkey = s.customerkey;

---
## SPLIT_PART

### üìù¬†Notes

**`SPLIT_PART()`**

- **SPLIT_PART**: Extracts a specific section of a string based on a delimiter.

- Syntax:

  ```sql
  SELECT SPLIT_PART(string_column, delimiter, field_number);
  ```

- The `field_number` is 1-based, meaning `1` retrieves the first part, `2` retrieves the second, and so on.

- Useful for breaking up structured text, such as parsing CSV-like fields or extracting subdomains from URLs.

### üíª¬†Final Result

- Describe what the final result should be e.g. return the retention by X cohort.

#### Problem Description

**`FUNCTION` / Concept Covered**

1. Go into specific step / what we‚Äôre going to do. E.g. Use the `=` operator to set a new column to be equal to Experience

In [ ]:
SELECT 
    customerkey,
    vehicle,
    SPLIT_PART(vehicle, ' ', 1) AS vehicle_brand
FROM customers;

In [ ]:
WITH sales_data AS (
        SELECT
            customerkey,
            EXTRACT(YEAR FROM MIN(orderdate)) AS cohort_year,
            SUM(quantity * netprice * exchangerate) AS net_revenue,
            COUNT(orderkey) AS num_orders
        FROM sales
        GROUP BY
            customerkey
)

SELECT
    c.customerkey,
    s.cohort_year,
    SPLIT_PART(vehicle, ' ', 1) AS vehicle_brand, -- Added
    COALESCE(s.net_revenue, 0) AS net_revenue,
    COALESCE(s.num_orders, 0) AS total_orders,
    s.net_revenue / NULLIF(s.num_orders, 0) AS avg_order_value
FROM customer c
LEFT JOIN sales_data s ON c.customerkey = s.customerkey;