# Conditional Aggregation

**Product focused**

## Overview

### ü•Ö Analysis Goals

- Use the following to do an EDA of the products and their categories ordered from the `sales` table.
    - Compare quantity of products ordered in 2023 and 2022
    - Total sales in 2023 and 2022.
    - Major topic 3
- The end goal of this is e.g. Identify which jobs meet our expectations of years experience and total salary.

### üìò Concepts Covered

General concepts we‚Äôre going to cover

- Aggregation Review
- `SUM` with `CASE WHEN`
- Concept 3

---

In [2]:
import sys
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the ipython-sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

---
## Major Topic

### üìù¬†Notes

- Add in specific notes

### üíª¬†Final Result

- Describe what the final result should be e.g. return the retention by X cohort.

#### Problem Description

**`FUNCTION` / Concept Covered**

1. Go into specific step / what we‚Äôre going to do. E.g. Use the `=` operator to set a new column to be equal to Experience

**Basic Query**

Need to rewrite

In [3]:
%config SqlMagic.named_parameters = "disabled"

In [12]:
%%sql --save quantity_2023

SELECT
    p.categoryname AS category,
    SUM(quantity) AS quantity
FROM
    sales s
JOIN
    product p ON s.productkey = p.productkey
WHERE
    orderdate::date BETWEEN '2023-01-01' AND '2023-12-31'
GROUP BY
    category
ORDER BY
    category;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

+-------------------------------+----------+
|            category           | quantity |
+-------------------------------+----------+
|             Audio             |   5043   |
|    Cameras and camcorders     |   5303   |
|          Cell phones          |  30161   |
|           Computers           |  28405   |
|         Games and Toys        |  10358   |
|        Home Appliances        |   9973   |
| Music, Movies and Audio Books |  20754   |
|          TV and Video         |   8176   |
+-------------------------------+----------+

![quantity_2023_chart.png](0_Resources/images/quantity_2023_chart.png)

---
## Major Topic

#### Problem Description

**`FUNCTION` / Concept Covered**

1. Go into specific step / what we‚Äôre going to do. E.g. Use the `=` operator to set a new column to be equal to Experience

In [6]:
%%sql 

SELECT
    p.categoryname AS category,
    SUM(CASE WHEN orderdate::date BETWEEN '2023-01-01' AND '2023-12-31' THEN quantity END) AS y2023_quantity,
    SUM(CASE WHEN orderdate::date BETWEEN '2022-01-01' AND '2022-12-31' THEN quantity END) AS y2022_quantity
FROM
    sales s
JOIN
    product p ON s.productkey = p.productkey
GROUP BY
    category
ORDER BY
    category;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

+-------------------------------+----------------+----------------+
|            category           | y2023_quantity | y2022_quantity |
+-------------------------------+----------------+----------------+
|             Audio             |      5043      |      5984      |
|    Cameras and camcorders     |      5303      |      6160      |
|          Cell phones          |     30161      |     35334      |
|           Computers           |     28405      |     35849      |
|         Games and Toys        |     10358      |     12251      |
|        Home Appliances        |      9973      |     11952      |
| Music, Movies and Audio Books |     20754      |     24497      |
|          TV and Video         |      8176      |     11809      |
+-------------------------------+----------------+----------------+

**Advanced Query**

That's simple but we can add in more conditions if necessary. Like only returning quantity where it's > 5, to account for orders with significant quantities.

In [7]:
%%sql 

SELECT
    p.categoryname AS category,
    SUM(CASE WHEN orderdate::date BETWEEN '2023-01-01' AND '2023-12-31' AND quantity > 5 THEN quantity END) AS y2023_significant_quantity,
    SUM(CASE WHEN orderdate::date BETWEEN '2022-01-01' AND '2022-12-31' AND quantity > 5 THEN quantity END) AS y2022_significant_quantity
FROM
    sales s
JOIN
    product p ON s.productkey = p.productkey
GROUP BY
    category
ORDER BY
    category;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

+-------------------------------+----------------------------+----------------------------+
|            category           | y2023_significant_quantity | y2022_significant_quantity |
+-------------------------------+----------------------------+----------------------------+
|             Audio             |            2005            |            2270            |
|    Cameras and camcorders     |            2252            |            2566            |
|          Cell phones          |           12052            |           13961            |
|           Computers           |           11374            |           14437            |
|         Games and Toys        |            4038            |            4982            |
|        Home Appliances        |            3986            |            4706            |
| Music, Movies and Audio Books |            8535            |            9801            |
|          TV and Video         |            3153            |            4631            |
+-------------------------------+----------------------------+----------------------------+