<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/7_Basic_Query_Optimization/2_Basic_Optimization.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Basic Optimization

## Overview

### ü•Ö Analysis Goals
 
Improve query efficiency and reduce costs by optimizing cohort revenue tracking and lifetime value (LTV) calculations.  
- **Optimize Sales Data Aggregation:** Summarizes customer purchases, calculates total revenue, and assigns cohort years while ensuring efficient joins with `customer`.

### üìò Concepts Covered

- Basic query optimization

In [2]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

---
## Query Optimization

### üìù¬†Notes

Query Optimizaiton

- Improves SQL performance by reducing execution time and resource usage.
- **Basic Optimization Tips**  
    - Use `INNER JOIN` instead of `LEFT JOIN` when unmatched rows aren‚Äôt needed.  
    - Filter early using `WHERE`, not `HAVING`, to reduce processed rows.  
    - Avoid `SELECT *`, select only required columns.  
    - Use `UNION` instead of `UNION ALL` when removing duplicates is acceptable.  
    - Pre-filter data before `GROUP BY` and `DISTINCT` to avoid unnecessary calculations.  
    - Replace `OR` conditions with `IN` for better index usage.  
    - Use `EXISTS` instead of `IN` for subqueries on large datasets.  
    - Ensure data types match in comparisons to prevent slow implicit conversions.  

### üîë Key Concepts
- **üìä Business Terms**: 
  - Query Efficiency: Optimized data retrieval methods
  - Resource Management: Efficient use of database resources
  - Performance Scaling: Handling growing data volumes
- **üí° Why It Matters**: Improves business operations and costs
    - Reduces cloud computing costs through efficient queries
    - Enables faster reporting for business decisions
    - Supports analysis of larger customer datasets
    - Allows more frequent cohort analysis updates
    - Makes revenue tracking more cost-effective
- **üéØ Common Use Cases**: 
  - Daily revenue reporting
  - Real-time customer analysis
  - Large-scale cohort tracking
  - Regular performance monitoring
- **üìà Related KPIs**: 
  - Query cost reduction
  - Report generation time
  - System resource savings
  - Analysis turnaround time    

### üìà Analysis

- Summarizes customer purchases, calculates total revenue, and assigns cohort years while ensuring efficient joins with `customer` (from `1_Explain.ipynb`).  

> **‚ö†Ô∏è Note**: For the queries below since we've already done them the explanation is focusing on how we're optimizing the query.

#### Simple Query Optimization

**Query Optimization**

1. Use `EXPLAIN` on the query to find ways to optimize it better (from the last example in the `1_Explain.ipynb` notebook).

    - Sequential Scan on `customer`: Reads all rows from `customer`, suggesting there's no index on `customerkey`.
    - Hash on `customer`: Prepares a hash table of 104,990 rows for efficient lookups in the join.
    - Sequential Scan on `sales`: No filtering is applied, causing PostgreSQL to scan 199,873 rows.
    - Hash Left Join: Joins the `customer` table (104,990 rows) with `sales` (199,873 rows) using a hash join, indicating `customerkey` is used as a join condition.
    - Sort Operation: Orders the grouped data by the same fields before performing further calculations.
    - Group Aggregate: Groups data by multiple fields (`customerkey`, `orderdate`, `countryfull`, `age`, `givenname`, `surname`) before performing aggregations.
    - Window Aggregation: A window function is applied to 199,873 rows, increasing the width of each row.
    - Subquery Scan on `cd`: The entire subquery result is scanned (199,873 rows), with an estimated cost between 35,601.24 and 50,591.71.

In [3]:
%%sql

EXPLAIN
WITH customer_revenue AS (
	SELECT
		s.customerkey,
		s.orderdate,
		SUM(s.quantity * s.netprice * s.exchangerate) AS total_net_revenue,
		COUNT(s.orderkey) AS num_orders,
		c.countryfull,
		c.age,
		c.givenname,
		c.surname
	FROM
		sales s
	LEFT JOIN customer c ON
		c.customerkey = s.customerkey
	GROUP BY
		s.customerkey,
		s.orderdate,
		c.countryfull,
		c.age,
		c.givenname,
		c.surname
)
SELECT
	customerkey,
	orderdate,
	total_net_revenue,
	num_orders,
	countryfull,
	age,
	CONCAT(TRIM(givenname), ' ', TRIM(surname)) AS cleaned_name,
	MIN(orderdate) OVER (PARTITION BY customerkey) AS first_purchase_date,
	EXTRACT(YEAR FROM MIN(orderdate) OVER (PARTITION BY customerkey)) AS cohort_year
FROM
	customer_revenue cr;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

                                          QUERY PLAN
0  WindowAgg  (cost=35601.24..48592.98 rows=19987...
1    ->  GroupAggregate  (cost=35601.24..43596.16...
2          Group Key: s.customerkey, s.orderdate,...
3          ->  Sort  (cost=35601.24..36100.92 row...
4                Sort Key: s.customerkey, s.order...
5                ->  Hash Left Join  (cost=5442.2...
6                      Hash Cond: (s.customerkey ...
7                      ->  Seq Scan on sales s  (...
8                      ->  Hash  (cost=4129.90..4...
9                            ->  Seq Scan on cust...

Below is the query output.

<img src="../Resources/query_results/7.1_explain_1.png" alt="Query Results 1" style="width: 70%; height: auto;">

2. Use `INNER JOIN` in the `customer_revenue` CTE.
    - If every `sales.customerkey` exists in customer, change `LEFT JOIN` to `INNER JOIN`.
    - This eliminates unnecessary NULL checks and improves join efficiency.

In [7]:
%%sql

WITH customer_revenue AS (
	SELECT
		s.customerkey,
		s.orderdate,
		SUM(s.quantity * s.netprice * s.exchangerate) AS total_net_revenue,
		COUNT(s.orderkey) AS num_orders,
		c.countryfull,
		c.age,
		c.givenname,
		c.surname
	FROM
		sales s
	INNER JOIN customer c 
		ON c.customerkey = s.customerkey -- Update
	GROUP BY
		s.customerkey,
		s.orderdate,
		c.countryfull,
		c.age,
		c.givenname,
		c.surname
)
SELECT
	customerkey,
	orderdate,
	total_net_revenue,
	num_orders,
	countryfull,
	age,
	CONCAT(TRIM(givenname), ' ', TRIM(surname)) AS cleaned_name,
	MIN(orderdate) OVER (PARTITION BY customerkey) AS first_purchase_date,
	EXTRACT(YEAR FROM MIN(orderdate) OVER (PARTITION BY customerkey)) AS cohort_year
FROM
	customer_revenue cr;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

83099 rows affected.

,customerkey,orderdate,total_net_revenue,num_orders,countryfull,age,cleaned_name,first_purchase_date,cohort_year
0,15,2021-03-08,2217.41,1,Australia,55,Julian McGuigan,2021-03-08,2021
1,180,2018-07-28,525.31,1,Australia,65,Gabriel Bosanquet,2018-07-28,2018
2,180,2023-08-28,1984.90,2,Australia,65,Gabriel Bosanquet,2018-07-28,2018
3,185,2019-06-01,1395.52,1,Australia,40,Gabrielle Castella,2019-06-01,2019
4,243,2016-05-19,287.67,1,Australia,66,Maya Atherton,2016-05-19,2016
...,...,...,...,...,...,...,...,...,...
83094,2099697,2022-09-13,38.20,3,United States,54,Phillipp Maier,2022-09-13,2022
83095,2099711,2016-08-13,2067.75,1,United States,80,Katerina Pavl√≠ckov√°,2016-08-13,2016
83096,2099711,2017-08-14,3940.92,1,United States,80,Katerina Pavl√≠ckov√°,2016-08-13,2016
83097,2099743,2022-03-17,469.62,2,United States,21,Luciana Almonte,2022-03-17,2022
83098,2099743,2023-02-11,598.46,1,United States,21,Luciana Almonte,2022-03-17,2022

3. Add MAX to the following columns in `customer_revenue` and remove those columns in the `GROUP BY` statement: `countryfull`, `age`, `givenname`, and `surname`.

    - If `countryfull`, `age`, `givenname`, and `surname` do not change for each `customerkey`, remove them from `GROUP BY` and use `MAX()`.
    - This reduces sorting and aggregation overhead.

> **‚ö†Ô∏è Note**: Using MAX() on fields when the values are guaranteed to be the same within each group, is a good practice as it reduces the need for unnecessary GROUP BY operations and improves query performance.

In [6]:
%%sql

WITH customer_revenue AS (
    SELECT
        s.customerkey,
        s.orderdate,
        SUM(s.quantity * s.netprice * s.exchangerate) AS total_net_revenue,
        COUNT(s.orderkey) AS num_orders,
        MAX(c.countryfull) AS countryfull,
        MAX(c.age) AS age,
        MAX(c.givenname) AS givenname,
        MAX(c.surname) AS surname
    FROM sales s
    INNER JOIN customer c ON c.customerkey = s.customerkey
    GROUP BY
        s.customerkey,
        s.orderdate
)
SELECT
    customerkey,
    orderdate,
    total_net_revenue,
    num_orders,
    countryfull,
    age,
    CONCAT(TRIM(givenname), ' ', TRIM(surname)) AS cleaned_name,
    MIN(orderdate) OVER (PARTITION BY customerkey) AS first_purchase_date,
    EXTRACT(YEAR FROM MIN(orderdate) OVER (PARTITION BY customerkey)) AS cohort_year
FROM customer_revenue cr;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

83099 rows affected.

,customerkey,orderdate,total_net_revenue,num_orders,countryfull,age,cleaned_name,first_purchase_date,cohort_year
0,15,2021-03-08,2217.41,1,Australia,55,Julian McGuigan,2021-03-08,2021
1,180,2018-07-28,525.31,1,Australia,65,Gabriel Bosanquet,2018-07-28,2018
2,180,2023-08-28,1984.90,2,Australia,65,Gabriel Bosanquet,2018-07-28,2018
3,185,2019-06-01,1395.52,1,Australia,40,Gabrielle Castella,2019-06-01,2019
4,243,2016-05-19,287.67,1,Australia,66,Maya Atherton,2016-05-19,2016
...,...,...,...,...,...,...,...,...,...
83094,2099697,2022-09-13,38.20,3,United States,54,Phillipp Maier,2022-09-13,2022
83095,2099711,2016-08-13,2067.75,1,United States,80,Katerina Pavl√≠ckov√°,2016-08-13,2016
83096,2099711,2017-08-14,3940.92,1,United States,80,Katerina Pavl√≠ckov√°,2016-08-13,2016
83097,2099743,2022-03-17,469.62,2,United States,21,Luciana Almonte,2022-03-17,2022
83098,2099743,2023-02-11,598.46,1,United States,21,Luciana Almonte,2022-03-17,2022

4. Run the `EXPLAIN` plan again on this updated query to see what's been improved.

    - Reduced processed rows from 199,873 to 37,024 by optimizing grouping and early filtering, significantly lowering computational overhead.  
    - Enabled parallel execution with `Parallel Hash Join` and `Parallel Sequential Scan`, distributing workload across multiple workers for faster execution.  
    - Improved join efficiency by switching from a single-threaded Hash Left Join to a Parallel Hash Join, reducing join time.  
    - Optimized GROUP BY by introducing `Partial GroupAggregate` and `Finalize GroupAggregate`, minimizing the data shuffled between stages.  
    - Lowered overall query cost from 48,592.98 to 33,489.51, improving efficiency through parallelism, reduced sorting, and early aggregation.

In [5]:
%%sql

EXPLAIN
WITH customer_revenue AS (
    SELECT
        s.customerkey,
        s.orderdate,
        SUM(s.quantity * s.netprice * s.exchangerate) AS total_net_revenue,
        COUNT(s.orderkey) AS num_orders,
        MAX(c.countryfull) AS countryfull,
        MAX(c.age) AS age,
        MAX(c.givenname) AS givenname,
        MAX(c.surname) AS surname
    FROM sales s
    INNER JOIN customer c ON c.customerkey = s.customerkey
    GROUP BY
        s.customerkey,
        s.orderdate
)
SELECT
    customerkey,
    orderdate,
    total_net_revenue,
    num_orders,
    countryfull,
    age,
    CONCAT(TRIM(givenname), ' ', TRIM(surname)) AS cleaned_name,
    MIN(orderdate) OVER (PARTITION BY customerkey) AS first_purchase_date,
    EXTRACT(YEAR FROM MIN(orderdate) OVER (PARTITION BY customerkey)) AS cohort_year
FROM customer_revenue cr;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

14 rows affected.

                                           QUERY PLAN
0   WindowAgg  (cost=23390.59..33489.51 rows=37024...
1     ->  Finalize GroupAggregate  (cost=23390.59....
2               Group Key: s.customerkey, s.orderdate
3           ->  Gather Merge  (cost=23390.59..3145...
4                                  Workers Planned: 1
5                 ->  Partial GroupAggregate  (cos...
6                       Group Key: s.customerkey, ...
7                       ->  Sort  (cost=22390.58.....
8                             Sort Key: s.customer...
9                             ->  Parallel Hash Jo...
10                                  Hash Cond: (s....
11                                  ->  Parallel S...
12                                  ->  Parallel H...
13                                        ->  Para...

<img src="../Resources/query_results/7.2_basic_optimization.png" alt="Basic Optimization 1" style="width: 70%; height: auto;">