<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/0_Intro/2_Jupyter_Notebooks.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Getting Started w/ Jupyter Notebooks in Colab

## Options create a Colab Notebook:
- Go to [colab.research.google.com](https://colab.research.google.com)
- Or in [drive.google.com](https://drive.google.com)
  - Select "+ New" in top right hand corner
  - Select "More" and then "Google Colaboratory"

**NOTE:** For both options you must be logged in to Google

## Adding and moving cells

Add new cells by using the **+ CODE** and **+ TEXT** buttons that show when you hover between cells.

You can move a cell by selecting it and clicking **Cell Up** or **Cell Down** in the top toolbar.

## Markdown Cell vs. Python Cell

#### Markdown Example
This is a markdown cell.


#### Python Example

In [1]:
"This is a python cell"

'This is a python cell'

## How to Run a Cell

*Easy Way:* Click the run button.

*Pro Way:* With cell selected type **Cmd/Ctrl+Enter**. 

*Other Pro Tips:*
* Type **Shift+Enter** to run the cell and move selection to the next cell
* Type **Alt+Enter** to run the cell and insert a new code cell below it

In [2]:
2 + 2

4

## Cell Basics

Cells print out below it it's results.

In [3]:
2 + 2

4

#### Make a Comment

What if you wanted to include something in your code like a note?  
- Include a `#` before the line
- This is called a comment

That doesn't execute anything and isn't read by the Python interpreter when executing your code.

In [5]:
# This is a comment. Nothing to the right of the "#" sign will be interpreted

In [6]:
# This is a comment

print("What's Up, Data Nerds")

What's Up, Data Nerds

## Markdown Basics

Markdown is a lightweight markup language that uses characters like # for headings and * for emphasis to format text simply and intuitively.

| Element        | Markdown Syntax                        |
|----------------|----------------------------------------|
| Heading        | `# H1`<br>`## H2`<br>`### H3`          |
| Bold           | `**bold text**`                        |
| Italic         | `*italicized text*`                    |
| Blockquote     | `> blockquote`                         |
| Ordered List   | `1. First item`<br>`2. Second item`<br>`3. Third item` |
| Unordered List | `- First item`<br>`- Second item`<br>`- Third item`   |
| Code           | `` `code` ``                           |
| Horizontal Rule| `---`                                  |
| Link           | `[title](https://www.example.com)`     |
| Image          | `![alt text](image.jpg)`               |

[Here is a more info on Markdown](https://www.markdownguide.org/basic-syntax/)

## Colab Walkthrough

#### Sidebar Menu (Left-Top)
- Table of Contents
- Find and Replace
- Variables
- Secrets
- Files

#### Sidebar Menu (Left-Bottom)
- Code snippets
- Command pallette
- Terminal

#### Top Menu Bar
- Runtime: Controls running cells and restarting notebook

#### Colab Header (Top)
- RAM & Disk Usage
- Colab AI (may or may not have)

### Runtime Deep Dive

**Run All:**
- ‚öôÔ∏è Executes all notebook cells in sequence  

**Interrupt Execution:**
- üõë Stops the execution of the current cell  

**Restart Session:**
- üîÑ Resets the notebook's kernel, clearing all the executed code memory  
- ‚ú® No code execution afterward unless manually triggered  

**Disconnect and Delete Runtime:**
- ‚ùå Stops the notebook, releases resources, and deletes any temporary files created during the session

## Magic

Don't worry if you don't understand this. All you need to know that starting a line with any of the following symbols has magic properties. We're mostly going to be using `%%` to write our SQL queries.

| Symbol | Name           | Example            | Usage Explanation                                                                 |
|--------|----------------|--------------------|-----------------------------------------------------------------------------------|
| `%`    | Line Magic     | `%cd sample_data`     | Executes a line magic command, affecting only the line it is on, like changing directories. |
| `%%`   | Cell Magic     | `%%writefile test.txt` | Applies the magic command to the entire cell, such as writing the cell's content to a file. |

In [8]:
%cd sample_data

[Errno 2] No such file or directory: 'sample_data√ü'
/Users/personalcomputer/Documents/GitHub/Int_SQL_Data_Analytics_Course/0_Intro

/opt/anaconda3/envs/sql_course/lib/python3.11/site-packages/IPython/core/magics/osm.py:393: UserWarning: This is now an optional IPython functionality, using bookmarks requires you to install the `pickleshare` library.
  bkms = self.shell.db.get('bookmarks', {})

In [11]:
%%writefile test.txt

Writing test.txt

For SQL queries once you write `%%sql` you can write your comments using `--`.

## How to Run SQL Queries

### In Jupyter Notebooks

Using the code block below, it will automatically detect if you're using Collab or locally on your machine.

In [ ]:
import sys
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1
        
# Load the ipython-sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

For both. Afterwards to write a SQL query create a new code block with `%%sql` magic command at the top. Then below you can write your query as usual.

We'll be using PostgreSQL for all of our SQL queries.

In [ ]:
%%sql 

SELECT
    EXTRACT(YEAR FROM orderdate) AS year,
    SUM(netprice) AS total_year_net_revenue
FROM
    sales
GROUP BY
    year
ORDER BY
    year