# Conditional Aggregation

## Overview

### ü•Ö Analysis Goals

- What we‚Äôre going to use for this dataset to do X e.g. Use the following in order to explore a dataset on experience and salaries
    - Major topic 1
    - Major topic 2
    - Major topic 3
- The end goal of this is e.g. Identify which jobs meet our expectations of years experience and total salary.

### üìò Concepts Covered

General concepts we‚Äôre going to cover

- Concept 1
- Concept 2
- Concept 3

---

In [ ]:
import sys
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the ipython-sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

---
## Major Topic

### üìù¬†Notes

- Add in specific notes

### üíª¬†Final Result

- Describe what the final result should be e.g. return the retention by X cohort.

#### Problem Description

**`FUNCTION` / Concept Covered**

1. Go into specific step / what we‚Äôre going to do. E.g. Use the `=` operator to set a new column to be equal to Experience

**Basic Query**

Need to rewrite

In [ ]:
%%sql 

SELECT
    pc.ProductCategoryName AS category,
    YEAR(s.OrderDate) AS year,
    SUM(CASE WHEN YEAR(s.OrderDate) = 2022 THEN s.SalesAmount ELSE 0 END) AS sales_2022,
    SUM(CASE WHEN YEAR(s.OrderDate) = 2023 THEN s.SalesAmount ELSE 0 END) AS sales_2023
FROM
    Sales s
JOIN
    Products p ON s.ProductKey = p.ProductKey
JOIN
    ProductCategories pc ON p.ProductCategoryKey = pc.ProductCategoryKey
GROUP BY
    pc.ProductCategoryName, YEAR(s.OrderDate)
ORDER BY
    pc.ProductCategoryName, YEAR(s.OrderDate);

**Advanced Query**