# Date Format

## Overview

### ü•Ö Analysis Goals

Summarize sales revenue for a business to understand trends by month.

- Summarize sales revenue by month using precise date truncation.
- Create a human-readable version of the monthly sales summary for reports.

### üìò Concepts Covered

Date formatting:
- `DATE_TRUNC()`
- `TO_CHAR()`

---

In [1]:
import sys
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the ipython-sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

---
## DATE_TRUNC

### üìù¬†Notes

`DATE_TRUNC`

- **DATE_TRUNC** truncates a timestamp to a specified level of precision (e.g., year, month, day, hour).

- Syntax: 

  ```
  DATE_TRUNC('precision', timestamp)
  ```

  - Example: `DATE_TRUNC('month', '2024-12-04 10:15:30')` returns `2024-12-01 00:00:00`.
### üíª¬†Final Result

- Return total sales revenue aggregated by month, with a precise timestamp.

#### Truncate Date

**`DATE_TRUNC`**

1. Use `DATE_TRUNC` to truncate `orderdate` to the first day of each month.
2. Multiply `quantity` by `price` and `exchangerate` to calculate the total revenue for each sale.
3. Aggregate sales by month using `SUM()`.
4. Use `GROUP BY` on the truncated month to perform the aggregation.
5. Sort the result by month for chronological order.

In [ ]:
%%sql

SELECT 
	DATE_TRUNC('month', s.orderdate) AS order_month,
	SUM(s.quantity * p.price * s.exchangerate) AS total_sale_amount
FROM sales s
	LEFT JOIN product p ON s.productkey = p.productkey
GROUP BY
	order_month
ORDER BY
	order_month

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

112 rows affected.

+---------------------------+--------------------+
|        order_month        | total_sale_amount  |
+---------------------------+--------------------+
| 2015-01-01 00:00:00-08:00 |   367316.0703189   |
| 2015-02-01 00:00:00-08:00 | 651432.0031220994  |
| 2015-03-01 00:00:00-08:00 | 301259.3341201002  |
| 2015-04-01 00:00:00-07:00 | 165709.73201100004 |
| 2015-05-01 00:00:00-07:00 | 457982.0586868999  |
| 2015-06-01 00:00:00-07:00 | 616325.6447164998  |
| 2015-07-01 00:00:00-07:00 | 545391.2895578999  |
| 2015-08-01 00:00:00-07:00 | 580388.8694456001  |
| 2015-09-01 00:00:00-07:00 | 656715.0979149997  |
| 2015-10-01 00:00:00-07:00 | 737449.2089902593  |
+---------------------------+--------------------+
Truncated to displaylimit of 10.

---
## TO_CHAR

### üìù¬†Notes

`TO_CHAR`

- **TO_CHAR** converts a date, time, or numeric value to a formatted string.
- Syntax: `TO_CHAR(value, 'format')` (e.g., `TO_CHAR(CURRENT_DATE, 'YYYY-MM-DD')` returns `2024-12-04`).

### üíª¬†Final Result

- Describe what the final result should be e.g. return the retention by X cohort.

#### Format Date

**`TO_CHAR`

1. Use `TO_CHAR` to format `orderdate` into a `YYYY-MM` string representation.
2. Multiply `quantity` by `price` and `exchangerate` to calculate total revenue for each sale.
3. Aggregate sales revenue by the formatted string using `SUM()`.
4. Use `GROUP BY` on the formatted month to perform the aggregation.
5. Sort the result by the formatted month string for chronological order.

In [12]:
# Set display to 12 rows

%config SqlMagic.displaylimit = 12

In [ ]:
%%sql

SELECT 
	TO_CHAR(s.orderdate, 'YYYY-MM') AS order_year_month,
	SUM(s.quantity * p.price * s.exchangerate) AS total_sale_amount
FROM sales s
	LEFT JOIN product p ON s.productkey = p.productkey
GROUP BY
	order_year_month
ORDER BY
	order_year_month

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

112 rows affected.

+------------------+--------------------+
| order_year_month | total_sale_amount  |
+------------------+--------------------+
|     2015-01      |   367316.0703189   |
|     2015-02      | 651432.0031220994  |
|     2015-03      | 301259.3341201002  |
|     2015-04      | 165709.73201100004 |
|     2015-05      | 457982.0586868999  |
|     2015-06      | 616325.6447164998  |
|     2015-07      | 545391.2895578999  |
|     2015-08      | 580388.8694456001  |
|     2015-09      | 656715.0979149997  |
|     2015-10      | 737449.2089902599  |
|     2015-11      | 582312.7062062001  |
|     2015-12      | 812275.7441273996  |
+------------------+--------------------+
Truncated to displaylimit of 12.

**üìä[Insert chart]üìä**