# Date Format

## Overview

### ü•Ö Analysis Goals

- What we‚Äôre going to use for this dataset to do X e.g. Use the following in order to explore a dataset on experience and salaries
    - Major topic 1
    - Major topic 2
    - Major topic 3
- The end goal of this is e.g. Identify which jobs meet our expectations of years experience and total salary.

### üìò Concepts Covered

Date formatting:
- `DATE_TRUNC()`
- `TO_CHAR()`

---

In [1]:
import sys
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the ipython-sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

---
## DATE_TRUNC

### üìù¬†Notes

`DATE_TRUNC`

- **DATE_TRUNC** truncates a timestamp to a specified level of precision (e.g., year, month, day, hour).
- Syntax: `DATE_TRUNC('precision', timestamp)` (e.g., `DATE_TRUNC('month', '2024-12-04 10:15:30')` returns `2024-12-01 00:00:00`).

### üíª¬†Final Result

- Describe what the final result should be e.g. return the retention by X cohort.

#### Problem Description

**`FUNCTION` / Concept Covered**

1. Go into specific step / what we‚Äôre going to do. E.g. Use the `=` operator to set a new column to be equal to Experience

Scenario 1: Summarize sales revenue by month using `DATE_TRUNC`.

In [4]:
%%sql

SELECT 
	DATE_TRUNC('month', s.orderdate) AS order_month,
	SUM(s.quantity * p.price * s.exchangerate) AS total_sale_amount
FROM sales s
	LEFT JOIN product p ON s.productkey = p.productkey
GROUP BY
	order_month
ORDER BY
	order_month

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

112 rows affected.

+---------------------------+--------------------+
|        order_month        | total_sale_amount  |
+---------------------------+--------------------+
| 2015-01-01 00:00:00-08:00 |   367316.0703189   |
| 2015-02-01 00:00:00-08:00 | 651432.0031220994  |
| 2015-03-01 00:00:00-08:00 | 301259.3341201002  |
| 2015-04-01 00:00:00-07:00 | 165709.73201100004 |
| 2015-05-01 00:00:00-07:00 | 457982.0586868999  |
| 2015-06-01 00:00:00-07:00 | 616325.6447164998  |
| 2015-07-01 00:00:00-07:00 | 545391.2895578999  |
| 2015-08-01 00:00:00-07:00 | 580388.8694456001  |
| 2015-09-01 00:00:00-07:00 | 656715.0979149999  |
| 2015-10-01 00:00:00-07:00 | 737449.2089902598  |
+---------------------------+--------------------+
Truncated to displaylimit of 10.

---
## TO_CHAR

### üìù¬†Notes

`TO_CHAR`

- **TO_CHAR** converts a date, time, or numeric value to a formatted string.
- Syntax: `TO_CHAR(value, 'format')` (e.g., `TO_CHAR(CURRENT_DATE, 'YYYY-MM-DD')` returns `2024-12-04`).

### üíª¬†Final Result

- Describe what the final result should be e.g. return the retention by X cohort.

#### Problem Description

**`FUNCTION` / Concept Covered**

1. Go into specific step / what we‚Äôre going to do. E.g. Use the `=` operator to set a new column to be equal to Experience

Scenario 2: Create human-readable reports with TO_CHAR.

In [11]:
%%sql

SELECT 
	TO_CHAR(s.orderdate, 'MM-YYYY') AS order_month_year,
	SUM(s.quantity * p.price * s.exchangerate) AS total_sale_amount
FROM sales s
	LEFT JOIN product p ON s.productkey = p.productkey
GROUP BY
	order_month_year
ORDER BY
	order_month_year

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

112 rows affected.

+------------------+--------------------+
| order_month_year | total_sale_amount  |
+------------------+--------------------+
|     01-2015      |   367316.0703189   |
|     01-2016      | 763368.8012994988  |
|     01-2017      |  749685.64168766   |
|     01-2018      | 1292245.9611983192 |
|     01-2019      | 2230970.392512116  |
|     01-2020      | 1816558.167085999  |
|     01-2021      | 550452.3336378001  |
|     01-2022      | 3145677.0128433895 |
|     01-2023      | 3904637.0965951234 |
|     01-2024      | 2851226.690927296  |
+------------------+--------------------+
Truncated to displaylimit of 10.