# Date Calculations

## Overview

### 🥅 Analysis Goals

- What we’re going to use for this dataset to do X e.g. Use the following in order to explore a dataset on experience and salaries
    - Major topic 1
    - Major topic 2
    - Major topic 3
- The end goal of this is e.g. Identify which jobs meet our expectations of years experience and total salary.

### 📘 Concepts Covered

General concepts we’re going to cover

- Concept 1
- Concept 2
- Concept 3

---
## Major Topic

### 📝 Notes

- Add in specific notes

### 💻 Final Result

- Describe what the final result should be e.g. return the retention by X cohort.

#### Problem Description

**`FUNCTION` / Concept Covered**

1. Go into specific step / what we’re going to do. E.g. Use the `=` operator to set a new column to be equal to Experience

### 📝 Notes

- Add in specific notes

### 💻 Final Result

- Describe what the final result should be e.g. return the retention by X cohort.

Scenario 1: Calculate customer age in years using CURRENT_DATE, NOW(), and AGE().

In [ ]:
%%sql

SELECT
    c.CustomerName,
    AGE(CURRENT_DATE, c.DateOfBirth) AS customer_age
FROM
    Customers c
WHERE
    AGE(CURRENT_DATE, c.DateOfBirth) > INTERVAL '30 years';

Scenario 2: Extract specific date parts with DATE_PART for detailed analysis.

In [ ]:
%%sql

SELECT
    DATE_PART('year', s.OrderDate) AS sales_year,
    DATE_PART('month', s.OrderDate) AS sales_month,
    DATE_PART('day', s.OrderDate) AS sales_day,
    SUM(s.SalesAmount) AS total_sales
FROM
    Sales s
GROUP BY
    sales_year, sales_month, sales_day
ORDER BY
    sales_year, sales_month, sales_day;

Scenario 3: Fill in missing monthly data using GENERATE_SERIES.

In [ ]:
%%sql

WITH date_series AS (
    SELECT
        GENERATE_SERIES(
            DATE_TRUNC('month', MIN(s.OrderDate)),
            DATE_TRUNC('month', MAX(s.OrderDate)),
            INTERVAL '1 month'
        )::DATE AS month
    FROM
        Sales s
)
SELECT
    ds.month,
    COALESCE(SUM(s.SalesAmount), 0) AS total_sales
FROM
    date_series ds
LEFT JOIN Sales s
    ON DATE_TRUNC('month', s.OrderDate) = ds.month
GROUP BY
    ds.month
ORDER BY
    ds.month;