<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/2_Date_Calculations/3_Date_Differences.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Date Calculations

## Overview

### ü•Ö Analysis Goals

Continue time series analysis and analyzing the relationship between sales (net revenue) and delivery processing times:

- **Analyze processing times**: Calculate the time difference between order dates and delivery dates to evaluate operational efficiency.  
- **Aggregate and summarize sales**: Group sales data by time intervals (month, year) to identify trends and patterns in revenue and processing times.

### üìò Concepts Covered

- `INTERVAL`
- `AGE()`

---

In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

---
## INTERVAL

### üìù¬†Notes

`INTERVAL`

- **INTERVAL** represents a span of time, such as days, months, hours, or seconds.
- Commonly used for date arithmetic (e.g., `CURRENT_DATE + INTERVAL '1 month'` adds one month to the current date).

- Syntax:
    ```sql
    CURRENT_DATE - INTERVAL 'value unit'
    ```

- Example:
    ```sql
    SELECT CURRENT_DATE - INTERVAL '5 years';

### üíª¬†Final Result

- Limit results to the last 5 years of sales, excluding the current year. Which makes the query's date filter dynamically update (instead of having to manually update it).

#### Filter Data by Time Intervals

**`INTERVAL`** and **`CURRENT_DATE`**

1. Use the last query to only return orders within the last 5 years of the current date.
    - Use `CURRENT_DATE` to dynamically reference the current date.
    - Subtract `INTERVAL '5 years'` from `CURRENT_DATE` to calculate the start date for filtering.
    - Add a `WHERE` clause to include only rows where `orderdate` is greater than or equal to the calculated start date.

In [14]:
%%sql

SELECT 
	DATE_PART('year', s.orderdate) AS order_year,
    p.categoryname, 
	SUM(s.quantity * s.netprice * s.exchangerate) AS net_revenue
FROM sales s
	LEFT JOIN product p ON s.productkey = p.productkey
WHERE
	s.orderdate >= CURRENT_DATE - INTERVAL '5 years' -- Added
GROUP BY
	order_year,
    p.categoryname
ORDER BY
	order_year,
    p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

40 rows affected.

    order_year                   categoryname  net_revenue
0      2020.00                          Audio    259613.67
1      2020.00        Cameras and camcorders     960666.63
2      2020.00                    Cell phones   1426660.56
3      2020.00                      Computers   3932353.18
4      2020.00                 Games and Toys    102079.32
5      2020.00                Home Appliances    567705.43
6      2020.00  Music, Movies and Audio Books    516050.83
7      2020.00                   TV and Video    720984.57
8      2021.00                          Audio    393160.16
9      2021.00        Cameras and camcorders    1449672.87
10     2021.00                    Cell phones   3871630.45
11     2021.00                      Computers   9900174.58
12     2021.00                 Games and Toys    155105.75
13     2021.00                Home Appliances   2101224.80
14     2021.00  Music, Movies and Audio Books   1236253.20
15     2021.00                   TV and Video   2250754.86
16     2022.00                          Audio    766938.21
17     2022.00        Cameras and camcorders    2382532.56
18     2022.00                    Cell phones   8119665.07
19     2022.00                      Computers  17862213.49
20     2022.00                 Games and Toys    316127.30
21     2022.00                Home Appliances   6612446.68
22     2022.00  Music, Movies and Audio Books   2989297.28
23     2022.00                   TV and Video   5815336.61
24     2023.00                          Audio    688690.18
25     2023.00        Cameras and camcorders    1983546.29
26     2023.00                    Cell phones   6002147.63
27     2023.00                      Computers  11650867.21
28     2023.00                 Games and Toys    270374.96
29     2023.00                Home Appliances   5919992.87
30     2023.00  Music, Movies and Audio Books   2180768.13
31     2023.00                   TV and Video   4412178.23
32     2024.00                          Audio    209228.64
33     2024.00        Cameras and camcorders     635084.71
34     2024.00                    Cell phones   1685744.55
35     2024.00                      Computers   2957039.62
36     2024.00                 Games and Toys     85867.75
37     2024.00                Home Appliances   1320161.48
38     2024.00  Music, Movies and Audio Books    592662.15
39     2024.00                   TV and Video    910738.50

<img src="../Resources/images/2.3_year_rev_category_filtered.
png" alt="Rev & Category" width="50%">

---
## AGE

### üìù¬†Notes

`AGE()`
- `AGE` calculates the difference between two dates and returns the result as an interval.  

- Syntax:
    ```sql
    AGE(end_date, start_date)
    ```

- Example:
    ```sql
    SELECT AGE('2024-01-08', '2024-01-01');
    ```

`EXTRACT`
- `EXTRACT` retrieves a specific component (e.g., day, month, year) from a timestamp or interval.

- Syntax:
    ```sql
    EXTRACT(unit FROM source)
    ```

- Example:
    ```sql
    SELECT EXTRACT(DAY FROM AGE('2024-01-08', '2024-01-01'));
    ```

### üíª¬†Final Result

- Evaluate operational performance by calculating the average time taken between order and delivery dates.  
- Aggregate data by time intervals (month, year) to provide actionable insights into revenue and efficiency.

#### Calculate Processing Time

**`AGE`**

1. Calculate the difference in time between the delivery date and order date using `AGE`.
    - Use `AGE(deliverydate, orderdate)` to compute the processing time for each order.
    - Exclude rows with `NULL` delivery dates in the `WHERE` clause.
    - Return the order date, processing time, and total sale amount for each transaction.

In [3]:
%%sql

SELECT 
    s.orderdate,
    AGE(s.deliverydate, s.orderdate) AS processing_time,
    s.quantity * s.netprice * s.exchangerate AS net_revenue
FROM 
    sales s
LEFT JOIN 
    product p ON s.productkey = p.productkey
WHERE 
    s.deliverydate IS NOT NULL
    AND s.orderdate >= CURRENT_DATE - INTERVAL '5 years'
ORDER BY 
    s.orderdate;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

121638 rows affected.

         orderdate processing_time  net_revenue
0       2020-02-11          0 days      1511.94
1       2020-02-11          6 days      7194.82
2       2020-02-11          6 days      1838.30
3       2020-02-11          0 days        11.00
4       2020-02-11          0 days      1790.20
...            ...             ...          ...
121633  2024-04-20          1 days       914.61
121634  2024-04-20          1 days       150.18
121635  2024-04-20          2 days       147.78
121636  2024-04-20          2 days      2019.62
121637  2024-04-20          2 days        56.83

[121638 rows x 3 columns]

2. Extract the DAY from the difference between delivery date and order date.
    - Exclude rows with `NULL` delivery dates in the `WHERE` clause.
    - Return the order date, processing time, and total sale amount for each transaction.
    - Compute the total net revenue using `SUM(quantity * netprice * exchangerate)`.
    - üîî Use `EXTRACT(DAY FROM AGE(deliverydate, orderdate))` to extract the day component.
    - üîî Display the `orderdate` as Year-Month using `TO_CHAR(orderdate, 'YYYY-MM')`.

In [9]:
%%sql

SELECT 
    TO_CHAR(s.orderdate, 'YYYY-MM') AS order_month, -- Update
    EXTRACT(DAY FROM AGE(s.deliverydate, s.orderdate)) AS processing_time, -- Update
    s.quantity * s.netprice * s.exchangerate AS net_revenue
FROM 
    sales s
LEFT JOIN 
    product p ON s.productkey = p.productkey
WHERE 
    s.deliverydate IS NOT NULL
    AND s.orderdate >= CURRENT_DATE - INTERVAL '5 years'
ORDER BY 
    order_month;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

121638 rows affected.

       order_month processing_time  net_revenue
0          2020-02               0      1511.94
1          2020-02               6      7194.82
2          2020-02               6      1838.30
3          2020-02               0        11.00
4          2020-02               0      1790.20
...            ...             ...          ...
121633     2024-04               1       914.61
121634     2024-04               1       150.18
121635     2024-04               2       147.78
121636     2024-04               2      2019.62
121637     2024-04               2        56.83

[121638 rows x 3 columns]

3. Aggregate data by month to get total net revenue and average processing time.
    - Compute the total net revenue using `SUM(quantity * netprice * exchangerate)`.
    - Exclude rows with `NULL` delivery dates in the `WHERE` clause.
    - Return the order date, processing time, and total sale amount for each transaction.
    - üîî Calculate the average processing time using `AVG(EXTRACT(DAY FROM AGE(...)))`.
    - Group by `order_month` and order the results.

In [11]:
%%sql

SELECT 
    TO_CHAR(s.orderdate, 'YYYY-MM') AS order_month,
    AVG(EXTRACT(DAY FROM AGE(s.deliverydate, s.orderdate))) AS avg_processing_time, -- Update
    SUM(s.quantity * s.netprice * s.exchangerate) AS net_revenue
FROM 
    sales s
LEFT JOIN 
    product p ON s.productkey = p.productkey
WHERE 
    s.deliverydate IS NOT NULL
    AND s.orderdate >= CURRENT_DATE - INTERVAL '5 years'
GROUP BY 
    order_month
ORDER BY 
    order_month;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

51 rows affected.

   order_month     avg_processing_time  net_revenue
0      2020-02  0.81604226705091258405   2113404.52
1      2020-03  0.96721311475409836066   1127542.88
2      2020-04  0.91160220994475138122    508319.95
3      2020-05  0.92974452554744525547   1215685.60
4      2020-06  0.85157232704402515723    799668.45
5      2020-07  0.89322033898305084746    619914.74
6      2020-08      1.0842105263157895    524675.33
7      2020-09      1.0172413793103448    328013.12
8      2020-10      1.0997442455242967    381504.82
9      2020-11      1.1361111111111111    342576.30
10     2020-12  0.89587073608617594255    524808.49
11     2021-01  0.97089041095890410959    669787.93
12     2021-02      1.1241098677517803   1094980.88
13     2021-03      1.1947194719471947    717574.28
14     2021-04      1.2000000000000000    542498.70
15     2021-05      1.2411347517730496   1508599.69
16     2021-06      1.3853919239904988   1749929.03
17     2021-07      1.3501501501501502   1798503.81
18     2021-08      1.3346434587310500   1971996.65
19     2021-09      1.4221292422129242   2423483.84
20     2021-10      1.3902540608079967   2599988.87
21     2021-11      1.5810077519379845   2637035.61
22     2021-12      1.3556834532374101   3643597.36
23     2022-01      1.4625267665952891   3647525.92
24     2022-02      1.5348990342405619   4840124.87
25     2022-03      1.5833637358628238   2801554.72
26     2022-04      1.4609800362976407   1746624.57
27     2022-05      1.6647384305835010   4430652.19
28     2022-06      1.5346534653465347   4777313.11
29     2022-07      1.5667181865018032   3395262.66
30     2022-08      1.6368086147821831   3698942.66
31     2022-09      1.6401488718306583   3854509.88
32     2022-10      1.6810162314749471   3913434.52
33     2022-11      1.7806775407779172   3520601.27
34     2022-12      1.7825902335456476   4238010.83
35     2023-01      1.6942871847658260   3664431.34
36     2023-02      1.7282948157401624   4465204.57
37     2023-03      1.7083010085337471   2244316.52
38     2023-04      1.9001512859304085   1162796.16
39     2023-05      1.8342457420924574   2943005.99
40     2023-06      1.8065326633165829   2864500.03
41     2023-07      1.7664127675009068   2337639.34
42     2023-08      1.7663675639747424   2623919.79
43     2023-09      1.8556077904633983   2622774.85
44     2023-10      1.6379310344827586   2551322.61
45     2023-11      1.7329490874159462   2700103.38
46     2023-12      1.7094878253568430   2928550.93
47     2024-01      1.7469616703022749   2677498.55
48     2024-02      1.6424460431654676   3542322.55
49     2024-03      1.6041763341067285   1692854.89
50     2024-04      1.6348408710217755    483851.39

4. Reformat the `avg_procesing_time` and `net_revenue` to make it easier to read.
    - Compute the total net revenue using `SUM(quantity * netprice * exchangerate)`.
    - Exclude rows with `NULL` delivery dates in the `WHERE` clause.
    - Return the order month, processing time, and total sale amount for each transaction.
    - üîî Use `ROUND()` to format the average processing time and total sales to two decimal places.
    - `ROUND`: Rounds numeric values to a specified number of decimal places for better readability.
        - Syntax:
            ```sql
            ROUND(value, precision)
            ```
        - Example:
            ```sql
            SELECT ROUND(1234.56789, 2);
            ```

In [12]:
%%sql

SELECT 
    TO_CHAR(s.orderdate, 'YYYY-MM') AS order_month,
    ROUND(CAST(AVG(EXTRACT(DAY FROM AGE(s.deliverydate, s.orderdate))) AS NUMERIC), 2) AS avg_processing_time, -- Update
    ROUND(CAST(SUM(s.quantity * s.netprice * s.exchangerate) AS NUMERIC), 2) AS net_revenue -- Update
FROM 
    sales s
LEFT JOIN 
    product p ON s.productkey = p.productkey
WHERE 
    s.deliverydate IS NOT NULL
    AND s.orderdate >= CURRENT_DATE - INTERVAL '5 years'
GROUP BY 
    order_month
ORDER BY 
    order_month;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

51 rows affected.

   order_month avg_processing_time net_revenue
0      2020-02                0.82  2113404.52
1      2020-03                0.97  1127542.88
2      2020-04                0.91   508319.95
3      2020-05                0.93  1215685.60
4      2020-06                0.85   799668.45
5      2020-07                0.89   619914.74
6      2020-08                1.08   524675.33
7      2020-09                1.02   328013.12
8      2020-10                1.10   381504.82
9      2020-11                1.14   342576.30
10     2020-12                0.90   524808.49
11     2021-01                0.97   669787.93
12     2021-02                1.12  1094980.88
13     2021-03                1.19   717574.28
14     2021-04                1.20   542498.70
15     2021-05                1.24  1508599.69
16     2021-06                1.39  1749929.03
17     2021-07                1.35  1798503.81
18     2021-08                1.33  1971996.65
19     2021-09                1.42  2423483.84
20     2021-10                1.39  2599988.87
21     2021-11                1.58  2637035.61
22     2021-12                1.36  3643597.36
23     2022-01                1.46  3647525.92
24     2022-02                1.53  4840124.87
25     2022-03                1.58  2801554.72
26     2022-04                1.46  1746624.57
27     2022-05                1.66  4430652.19
28     2022-06                1.53  4777313.11
29     2022-07                1.57  3395262.66
30     2022-08                1.64  3698942.66
31     2022-09                1.64  3854509.88
32     2022-10                1.68  3913434.52
33     2022-11                1.78  3520601.27
34     2022-12                1.78  4238010.83
35     2023-01                1.69  3664431.34
36     2023-02                1.73  4465204.57
37     2023-03                1.71  2244316.52
38     2023-04                1.90  1162796.16
39     2023-05                1.83  2943005.99
40     2023-06                1.81  2864500.03
41     2023-07                1.77  2337639.34
42     2023-08                1.77  2623919.79
43     2023-09                1.86  2622774.85
44     2023-10                1.64  2551322.61
45     2023-11                1.73  2700103.38
46     2023-12                1.71  2928550.93
47     2024-01                1.75  2677498.55
48     2024-02                1.64  3542322.55
49     2024-03                1.60  1692854.89
50     2024-04                1.63   483851.39

<img src="../Resources/images/2.3_month_processing_rev.png" alt="Processing & Revenue" width="50%">

  5. Evaluate the yearly data.  
     - Use `ROUND()` to format the average processing time and total sales to two decimal places.
     - Compute the total net revenue using `SUM(quantity * netprice * exchangerate)`.
     - Exclude rows with `NULL` delivery dates in the `WHERE` clause.
     - Return the order date, processing time, and total sale amount for each transaction.
     - üîî Replace monthly grouping with yearly grouping by changing `TO_CHAR(orderdate, 'MM-YYYY')` to `DATE_PART('year', orderdate)`.
     - üîî Group data by `order_year` and order the results.

In [7]:
%%sql

SELECT 
    DATE_PART('year', s.orderdate) AS order_year, -- Update
    ROUND(CAST(AVG(EXTRACT(DAY FROM AGE(s.deliverydate, s.orderdate))) AS NUMERIC), 2) AS avg_processing_time,
    ROUND(CAST(SUM(s.quantity * s.netprice * s.exchangerate) AS NUMERIC), 2) AS net_revenue
FROM 
    sales s
LEFT JOIN 
    product p ON s.productkey = p.productkey
WHERE 
    s.deliverydate IS NOT NULL
    AND s.orderdate >= CURRENT_DATE - INTERVAL '5 years'
GROUP BY 
    order_year -- Update
ORDER BY 
    order_year; -- Update

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

5 rows affected.

   order_year avg_processing_time  net_revenue
0     2020.00                0.92   8486114.19
1     2021.00                1.36  21357976.66
2     2022.00                1.62  44864557.21
3     2023.00                1.75  33108565.51
4     2024.00                1.67   8396527.38

<img src="../Resources/images/2.3_yearly_processing_rev.png" alt="Processing & Revenue" width="50%">