<a target="_blank" href="https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/0_Resources/sample_notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

In [5]:
import sys

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1


# Load the ipython-sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Run a test query to check tables
%sql SELECT * FROM pg_catalog.pg_tables WHERE schemaname != 'pg_catalog' AND schemaname != 'information_schema';

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Connecting and switching to connection 'postgresql://postgres:***@localhost:5432/contoso_100k'

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

6 rows affected.

+------------+------------------+------------+------------+------------+----------+-------------+-------------+
| schemaname |    tablename     | tableowner | tablespace | hasindexes | hasrules | hastriggers | rowsecurity |
+------------+------------------+------------+------------+------------+----------+-------------+-------------+
|   public   | currencyexchange |  postgres  |    None    |    True    |  False   |    False    |    False    |
|   public   |     customer     |  postgres  |    None    |    True    |  False   |     True    |    False    |
|   public   |      sales       |  postgres  |    None    |    True    |  False   |     True    |    False    |
|   public   |       date       |  postgres  |    None    |    True    |  False   |     True    |    False    |
|   public   |     product      |  postgres  |    None    |    True    |  False   |     True    |    False    |
|   public   |      store       |  postgres  |    None    |    True    |  False   |     True    |    False    |
+------------+------------------+------------+------------+------------+----------+-------------+-------------+

In [6]:
%%sql

SELECT
    EXTRACT(YEAR FROM OrderDate) AS Year,
    SUM(NetPrice) AS TotalYearlySales
FROM
    Sales
GROUP BY
    Year
ORDER BY
    Year

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

+------+--------------------+
| year |  totalyearlysales  |
+------+--------------------+
| 2015 | 2411195.6389490017 |
| 2016 | 3379301.1951779993 |
| 2017 |  4229458.38746099  |
| 2018 | 7950000.889763967  |
| 2019 |  9972332.59426401  |
| 2020 | 3593779.497119001  |
| 2021 | 6742864.277710047  |
| 2022 | 13907299.923750766 |
| 2023 | 10069875.602680571 |
| 2024 |  2561994.75779998  |
+------+--------------------+
Truncated to displaylimit of 10.